@import url("//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&display=swap&subset=latin-ext");
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*  GLOBAL VARIABLES 																								  */
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*font-sizes */
/*extra extra small*/
/*extra small*/
/*small*/
/*normal*/
/*default*/
/*medium*/
/*big*/
/*extra big*/
/*extra extra big*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*  COLORS			 																								  */
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*  MIXINS			 																								  */
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*  LOCAL VARIABLES 																								  */
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/* state */
@import "global/full-reset.css";
/*------------------------------------------------------------------------------------------------------------------*/
/*  GLOBAL			 																								*/
/*------------------------------------------------------------------------------------------------------------------*/
@import "global/grid.css";
.desktop-view {
  display: block;
}

.mobile-view {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  color: #354052;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  background: #b3c7be;
  height: 100%;
}

img[align=left],
img.al {
  float: left;
  margin: 0 35px 35px 0;
}

img[align=right],
img.ar {
  float: right;
  margin: 0 0 35px 35px;
}

a {
  color: #354052;
  text-decoration: underline;
  outline: none;
}
a:hover {
  text-decoration: none;
}
a img {
  border: none;
}

.d-block {
  display: block;
}

.d-iblock {
  display: inline-block;
}

.d-inline {
  display: inline;
}

p, strong {
  line-height: 20px;
  padding: 5px 0;
}

strong {
  font-weight: 600;
}

.aleft {
  text-align: left;
}

.acenter {
  text-align: center;
}

.aright {
  text-align: right;
}

h1, h2, h3, h4, h5, h6 {
  padding: 30px 0 10px 0;
  color: #354052;
  font-weight: 400;
}

h1 {
  font-size: 4.2rem;
}

h2 {
  font-size: 1.7rem;
  line-height: 40px;
}

h3 {
  font-size: 1.4rem;
  line-height: 35px;
}

h4 {
  font-size: 1.2rem;
  padding: 10px 0;
}

.no-wrap {
  white-space: nowrap;
}

.hide {
  display: none !important;
}

/*------------------------------------------------------------------------------------------------------------------*/
/* HEADER																											*/
/*------------------------------------------------------------------------------------------------------------------*/
header {
  background: whitesmoke;
  width: 100%;
  padding: 10px 15px;
}
header h1 {
  color: #354052;
  margin: 5px 0;
  padding: 10px 0;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 500;
}

#main {
  padding: 0px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  border-radius: 30px;
  position: relative;
}
#main section.scroll-container .block {
  display: block;
  overflow-x: auto;
  background: white;
}
#main section.scroll-container .selection-container {
  border: 1px dashed black;
  background-color: white;
  padding: 10px;
  overflow: hidden;
  margin: 0 20px;
  height: 120px;
  width: 1240px;
  transition: border 0.25s ease 0s;
  transition: box-shadow 0.25s ease 0s;
}
#main section.scroll-container .selection-container:hover {
  border-color: #f8a000;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
}
#main section.scroll-container .selection-container div.kont {
  display: inline-block;
}
#main section.scroll-container .selection-container div.kont h2 {
  margin-top: 5px;
  padding: 0;
  text-align: center;
}
#main div.drag {
  border: 1px solid black;
  background-color: white;
  text-align: center;
  display: inline-block;
  width: 100px;
  height: 100px;
  position: relative;
  margin: 0 3px;
}
#main div.drag.false {
  background-color: #b50e00;
}
#main div.drag.false:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 25px;
  background: rgba(0, 150, 255, 0.3) url("../img/icon-false.svg") 50% 45% no-repeat;
  background-size: auto 25px;
}
#main div.drag.ok {
  background-color: #629921;
}
#main div.drag.ok:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 25px;
  background: rgba(98, 153, 33, 0.3) url("../img/icon-true.svg") 50% 45% no-repeat;
  background-size: auto 25px;
}
#main div.drag:hover {
  background-color: rgba(16, 84, 99, 0.3);
  cursor: grab;
  transition: background 0.25s ease 0s;
}
#main div.drag:hover:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3) url("../img/icon-drag.svg") 50% 45% no-repeat;
  background-size: 40px;
}
#main div.drag img {
  width: 100%;
  cursor: grab;
}
#main div.drag img.topImg {
  position: absolute;
  z-index: 500;
  left: -10px;
  top: -10px;
  max-width: 120px;
  max-height: 120px;
  width: 120px;
  height: 120px;
}
#main div.drag span.popup-switch,
#main div.drag select {
  display: none;
}
#main div.drag span.popup-switch.rError, #main div.drag span.popup-switch.rOk, #main div.drag span.popup-switch.rNotOk,
#main div.drag select.rError,
#main div.drag select.rOk,
#main div.drag select.rNotOk {
  color: white;
}
#main div.drag span.popup-switch.rError *, #main div.drag span.popup-switch.rOk *, #main div.drag span.popup-switch.rNotOk *,
#main div.drag select.rError *,
#main div.drag select.rOk *,
#main div.drag select.rNotOk * {
  color: white;
}
#main div.drag span.popup-switch.rError,
#main div.drag select.rError {
  background-color: #b50e00;
  border: 1px solid #b50e00;
}
#main div.drag span.popup-switch.rOk,
#main div.drag select.rOk {
  background-color: #629921;
  border: 1px solid #629921;
}
#main div.drag span.popup-switch.rNotOk,
#main div.drag select.rNotOk {
  background-color: #f8a000;
  border: 1px solid #f8a000;
}
#main div.drag select.rError, #main div.drag select.rOk, #main div.drag select.rNotOk {
  background-image: url("../img/select-invert.svg");
  background-position: calc(100% - 10px) 50%;
  background-repeat: no-repeat !important;
}
#main div.drag .popup-select {
  position: absolute;
  right: -1px;
  padding: 0;
  width: 180px;
  border: 1px solid black;
  background: whitesmoke;
  z-index: 200;
  text-align: left;
  display: none;
}
#main div.drag .popup-select h4 {
  padding: 5px;
  background: #ddddde;
}
#main div.drag .popup-select label {
  padding: 5px;
  font-size: 1.2rem;
}
#main div.drag .popup-select label:hover, #main div.drag .popup-select label.checked {
  background-color: #f8a000;
  color: white;
}
#main div.drag .popup-select label input {
  margin-right: 5px;
}
#main div.time-line {
  background: url("../img/time-line.svg") 50% 50% no-repeat;
  background-size: 1280px auto;
  height: 500px;
  width: 1280px;
  position: relative;
  text-align: center;
}
#main #target1 {
  z-index: 1;
}
#main #target2 {
  z-index: 2;
}
#main #target3 {
  z-index: 3;
}
#main #target4 {
  z-index: 4;
}
#main #target5 {
  z-index: 5;
}
#main #target6 {
  z-index: 6;
}
#main #target7 {
  z-index: 7;
}
#main #target8 {
  z-index: 8;
}
#main #target9 {
  z-index: 9;
}
#main .target_area {
  display: inline-block;
  transition: border 0.25s ease 0s;
  transition: box-shadow 0.25s ease 0s;
}
#main .target_area:hover {
  border-color: #f8a000;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
}
#main .target_area.rError {
  outline: 5px solid #b50e00;
}
#main .target_area.rOk {
  outline: 5px solid #629921;
}
#main .target_area:before, #main .target_area:after {
  content: "";
  position: absolute;
  background-size: 100px 200px;
  height: 100px;
  z-index: -1;
}
#main .target_area:before {
  top: 105px;
}
#main .target_area:after {
  top: 204px;
}
#main .target_area.line-left:before {
  border-top: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 0 0 30px 0;
}
#main .target_area.line-left:after {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-left: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 30px 0 0 0;
}
#main .target_area.line-right:before {
  border-top: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  border-left: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 0 0 0 30px;
}
#main .target_area.line-right:after {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 0 30px 0 0;
}
#main #target1 {
  left: 100px;
}
#main #target1:before {
  width: 50px;
  left: calc(50% - 0px);
}
#main #target1:after {
  width: 50px;
  left: calc(50% + 50px);
}
#main #target2 {
  left: 220px;
}
#main #target2:before {
  height: 160px;
  width: 126px;
  left: calc(50% - 0px);
}
#main #target2:after {
  top: 264px;
  height: 40px;
  width: 126px;
  left: calc(50% + 126px);
}
#main #target3 {
  left: 340px;
}
#main #target3:before {
  height: 140px;
  width: 200px;
  left: calc(50% - 0px);
}
#main #target3:after {
  top: 244px;
  height: 60px;
  width: 200px;
  left: calc(50% + 200px);
}
#main #target4 {
  left: 460px;
}
#main #target4:before {
  height: 120px;
  width: 186px;
  left: calc(50% - 0px);
}
#main #target4:after {
  top: 224px;
  height: 80px;
  width: 186px;
  left: calc(50% + 186px);
}
#main #target5 {
  left: 580px;
}
#main #target5:before {
  width: 175px;
  left: calc(50% - 0px);
}
#main #target5:after {
  width: 175px;
  left: calc(50% + 175px);
}
#main #target6 {
  left: 700px;
}
#main #target6:before {
  height: 80px;
  width: 148px;
  left: calc(50% - 0px);
}
#main #target6:after {
  top: 184px;
  height: 120px;
  width: 148px;
  left: calc(50% + 148px);
}
#main #target7 {
  left: 820px;
}
#main #target7:before {
  height: 60px;
  width: 108px;
  left: calc(50% - 0px);
}
#main #target7:after {
  top: 164px;
  height: 140px;
  width: 108px;
  left: calc(50% + 108px);
}
#main #target8 {
  left: 940px;
}
#main #target8:before {
  height: 40px;
  width: 66px;
  left: calc(50% - 0px);
}
#main #target8:after {
  top: 144px;
  height: 160px;
  width: 66px;
  left: calc(50% + 66px);
}
#main #target9 {
  left: 1060px;
}
#main #target9:before {
  height: 20px;
  width: 13px;
  left: calc(50% - 0px);
}
#main #target9:after {
  top: 124px;
  height: 180px;
  width: 13px;
  left: calc(50% + 13px);
}
#main div.target_area {
  position: absolute;
  top: 40px;
  z-index: 10;
  width: 100px;
  height: 100px;
  border: 1px dashed black;
  background-size: 100%;
  padding: 0;
  margin: 0;
}
#main div.target_area.over {
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
}
#main div.target_area div.drag {
  position: relative;
  height: 100px;
  margin: 0;
  left: -1px;
  top: -1px;
}
#main div.target_area div.drag:hover:after {
  bottom: 25px;
}
#main div.target_area div.drag > div {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  border-top: 1px solid black;
  z-index: 200;
}
#main div.target_area div.drag > div * {
  vertical-align: middle;
}
#main div.target_area div.drag > div select {
  width: calc(100% - 20px);
  display: inline-block;
  border: none;
  border-right: 1px solid black;
}
#main div.target_area div.drag > div span {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  width: 20px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: zoom-in;
}
#main div.target_area div.kont.over,
#main div.target_area div.target_area.over {
  border: 1px solid rgba(16, 84, 99, 0.3);
}
#main .check-wrap {
  height: 95px;
  text-align: center;
  display: none;
}
#main .check-wrap .check-in {
  font-size: 1.6rem;
  padding: 10px;
  height: 95px;
  text-align: left;
  margin: 0;
}
#main .check-wrap .check-in.ok {
  background-color: #629921;
}
#main .check-wrap .check-in.false {
  background-color: #b50e00;
}
#main .check-wrap .check-in span {
  display: block;
}
#main .check-wrap .check-in p {
  margin-top: 15px;
  font-size: 3.2rem;
}

/*------------------------------------------------------------------------------------------------------------------*/
/* FOOTER																											*/
/*------------------------------------------------------------------------------------------------------------------*/
footer {
  padding: 20px 20px;
  text-align: center;
  background-color: white;
}
footer p {
  font-size: 1.4rem;
  padding: 0 0 0 10px;
  float: left;
  line-height: 20px;
}
footer img {
  margin-left: 5px;
}
footer img.logolink {
  width: 70%;
}

@media only screen and (max-width: 800px) {
  .col.p100, .col.p50, .col.p30, .col.p20 {
    width: 100%;
    text-align: center !important;
  }
  .col.p100 *, .col.p50 *, .col.p30 *, .col.p20 * {
    text-align: center !important;
  }
  .col.p100 img, .col.p50 img, .col.p30 img, .col.p20 img {
    max-height: 30px;
    max-width: 100%;
    margin: 5px 0;
  }
}
/*------------------------------------------------------------------------------------------------------------------*/
/*  BUTTONS  	 																									*/
/*------------------------------------------------------------------------------------------------------------------*/
.controls {
  padding: 20px;
  text-align: center;
  background: #f0f0f0;
}
.controls #checkLegend {
  width: 200px;
  text-align: left;
  margin: 0;
  padding: 0;
  list-style: none;
  opacity: 0;
  transition: opacity 1s;
  display: inline-block;
  position: relative;
  right: -310px !important;
  top: 16px;
}
.controls #checkLegend.visible {
  opacity: 1;
}
.controls #checkLegend li {
  padding-left: 5px;
  margin: 0;
}
.controls #checkLegend li:before {
  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-right: 5px;
}
.controls #checkLegend li.rError:before {
  background: #b50e00;
}
.controls #checkLegend li.rOk:before {
  background: #629921;
}
.controls #checkLegend li.rNotOk:before {
  background: #f8a000;
}
.controls #checkButton {
  position: relative !important;
  left: -100px !important;
  width: 200px !important;
}

a.button,
span.button,
button {
  box-sizing: border-box;
  position: relative;
  line-height: 45px;
  height: 45px;
  font-size: 2rem;
  padding: 0 10px;
  display: inline-block;
  vertical-align: middle;
  color: white;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  background-repeat: no-repeat;
  border: 1px solid black;
  background: black;
  transition: background 0.25s ease 0s;
}
a.button *,
span.button *,
button * {
  color: white;
  transition: color 0.25s ease 0s;
}
a.button:hover,
span.button:hover,
button:hover {
  background: white;
}
a.button:hover *,
span.button:hover *,
button:hover * {
  color: black;
}

/*------------------------------------------------------------------------------------------------------------------*/
/* FORMS 																											*/
/*------------------------------------------------------------------------------------------------------------------*/
label {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: #7f8fa4;
  line-height: 16px;
  padding-bottom: 5px;
  width: 100%;
}

select {
  width: 100%;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #354052;
}

select::placeholder,
textarea::placeholder {
  font-style: italic;
  color: #999999;
  font-size: 1.4rem;
}

textarea:focus {
  font-style: normal;
}

select::-ms-expand {
  display: none;
}

/* SELECT */
select {
  line-height: 25px;
  height: 25px;
  padding: 0 25px 0 8px;
  border: 1px solid black;
  position: relative;
  background: white url("../img/select.svg") calc(100% - 10px) 50% no-repeat;
  background-size: auto 5px;
}

/*# sourceMappingURL=core.css.map */
