/*------------------------------------------------------------------------------------------------------------------*/
/* FOOTER																											*/
/*------------------------------------------------------------------------------------------------------------------*/
footer {
	padding: 20px 20px;
	text-align: center;
	background-color: $color-ffffff;

	p {
		font-size: $fs-14;
		padding: 0 0 0 10px;
		float: left;
		line-height: 20px;
	}
	img {
		margin-left: 5px;

		&.logolink {
			width: 70%;
		}
	}
}

@media only screen and (max-width: 800px) {
	.col{
		&.p100,
		&.p50,
		&.p30,
		&.p20 {
			width: 100%;
			text-align: center !important;
			* {
				text-align: center !important;
			}
			img {
				max-height: 30px;
				max-width: 100%;
				margin: 5px 0;
			}
		}
		&.p50 {

		}
	}

}
