/*------------------------------------------------------------------------------------------------------------------*/
/* HEADER																											*/
/*------------------------------------------------------------------------------------------------------------------*/
header {
	background: $color-f5f5f5;
	width: 100%;
	padding: 10px 15px;

	h1 {
		color: $color-title;
		margin: 5px 0;
		padding: 10px 0;
		font-size: $fs-30;
		text-transform: uppercase;
		font-weight: 500;
	}
}
