/*------------------------------------------------------------------------------------------------------------------*/
/* HEADER																											*/
/*------------------------------------------------------------------------------------------------------------------*/
header {
  height: auto; }
  header .logotype {
    width: 20%;
    float: left; }
    header .logotype img {
      width: auto;
      height: 50px; }

/*# sourceMappingURL=header.css.map */
