#main {
	padding: 0px;
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	text-align: center;
	border-radius: 30px;
	position: relative;

	section.scroll-container {

		.block {
			display: block;
			overflow-x: auto;
			//border: 1px solid $color-border;
			background: $color-ffffff;
		}

		.selection-container {
			border: 1px dashed $color-border;
			background-color: $color-ffffff;
			padding: 10px;
			overflow: hidden;
			margin: 0 20px;
			height: 120px;
			width: 1240px;
			@include transition-default(yes, border, 0.25s);
			@include transition-default(yes, box-shadow, 0.25s);

			&:hover {
				border-color: $color-state-progress;
				@include shadow-default(box, 0, 4px, 6px, 0, $color-000000-a015);
			}


			div.kont {
				display: inline-block;

				h2 {
					margin-top: 5px;
					padding: 0;
					text-align: center;
				}
			}
		}
	}

	// tahaci prvky

	div.drag {
		border: 1px solid $color-border;
		background-color: $color-ffffff;
		text-align: center;
		display: inline-block;
		width: 100px;
		height: 100px;
		position:relative;
		margin: 0 3px;

		&.false {
			background-color: $color-state-failed;

			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 25px;
				background: $color-overlay-failed url('../img/icon-false.svg') 50% 45% no-repeat;
				background-size: auto 25px;
			}
		}
		&.ok {
			background-color: $color-state-success;

			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 25px;
				background: $color-overlay-success url('../img/icon-true.svg') 50% 45% no-repeat;
				background-size: auto 25px;
			}
		}
		&:hover {
			background-color: $color-hover;
			cursor: grab;
			@include transition-default(yes, background, 0.25s);

			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: $color-000000-a03 url('../img/icon-drag.svg') 50% 45% no-repeat;
				background-size: 40px;
			}



		}
		img {
			width: 100%;
			cursor: grab;

			//obrazek nad divem
			&.topImg {
				position: absolute;
				z-index: 500;
				left: -10px;
				top: -10px;
				max-width: 120px;
				max-height: 120px;
				width: 120px;
				height: 120px;
			}
		}
		span.popup-switch,
		select {
			display: none;

			&.rError,
			&.rOk,
			&.rNotOk {
				color: $color-ffffff;
				* {
					color: $color-ffffff;
				}
			}

			&.rError {
				background-color: $color-state-failed;
				border: 1px solid $color-state-failed;
			}

			&.rOk {
				background-color: $color-state-success;
				border: 1px solid $color-state-success;
			}

			&.rNotOk {
				background-color: $color-state-progress;
				border: 1px solid $color-state-progress;
			}
		}

		select {
			&.rError,
			&.rOk,
			&.rNotOk {
				background-image: url('../img/select-invert.svg');
				background-position: calc(100% - 10px) 50%;
				background-repeat: no-repeat !important;
			}

		}
		//additional selection dropdown

		.popup-select {
			position: absolute;
			right: -1px;
			padding: 0;
			width: 180px;
			border: 1px solid $color-border;
			background: $color-f5f5f5;
			z-index: 200;
			text-align: left;
			display: none;

			h4 {
				padding: 5px;
				background: $color-dddddd;
			}
			label {
				padding: 5px;
				font-size: $fs-12;

				&:hover,
				&.checked {
					background-color: $color-state-progress;
					color: $color-ffffff;
				}
				input {
					margin-right: 5px;
				}
			}
		}

	}




	// konkretni ramecky na panelu casove osy

	div.time-line {
		background: url('../img/time-line.svg') 50% 50% no-repeat;
		background-size: 1280px auto;
		height: 500px;
		width: 1280px;
		position: relative;
		text-align: center;
	}
	#target1 { z-index: 1;}
	#target2 { z-index: 2;}
	#target3 { z-index: 3;}
	#target4 { z-index: 4;}
	#target5 { z-index: 5;}
	#target6 { z-index: 6;}
	#target7 { z-index: 7;}
	#target8 { z-index: 8;}
	#target9 { z-index: 9;}

	.target_area {
		display: inline-block;
		@include transition-default(yes, border, 0.25s);
		@include transition-default(yes, box-shadow, 0.25s);

		&:hover {
			border-color: $color-state-progress;
			@include shadow-default(box, 0, 4px, 6px, 0, $color-000000-a015);
		}


		&.rError {
			//background-color: $color-error;
			outline: 5px solid $color-state-failed;
		}

		&.rOk {
			//background-color: $color-ok;
			outline: 5px solid $color-state-success;
		}

		&:before,
		&:after {
			content: '';
			position: absolute;
			background-size: 100px 200px;
			height: 100px;
			z-index: -1;
		}
		&:before {
			top: 105px;
		}
		&:after {
			top: 204px;
		}
		&.line-left {
			&:before {
				border-top: 1px solid $color-transparent;
				border-bottom: 1px solid $color-border-light;
				border-right: 1px solid $color-border-light;
				@include radius-default(0 0 30px 0);
			}
			&:after {
				border-bottom: 1px solid $color-transparent;
				border-top: 1px solid $color-border-light;
				border-left: 1px solid $color-border-light;
				@include radius-default(30px 0 0 0);
			}
		}
		&.line-right {
			&:before {
				border-top: 1px solid $color-transparent;
				border-bottom: 1px solid $color-border-light;
				border-left: 1px solid $color-border-light;
				@include radius-default(0 0 0 30px);
			}
			&:after {
				border-bottom: 1px solid $color-transparent;
				border-top: 1px solid $color-border-light;
				border-right: 1px solid $color-border-light;
				@include radius-default(0 30px 0 0);
			}
		}

	}
	#target1 {
		left: 100px;

		&:before {
			width: 50px;
			left: calc(50% - 0px);
		}
		&:after {
			width: 50px;
			left: calc(50% + 50px);
		}
	}
	#target2 {
		left: 220px;

		&:before {
			height: 160px;
			width: 126px;
			left: calc(50% - 0px);
		}
		&:after {
			top: 264px;
			height: 40px;
			width: 126px;
			left: calc(50% + 126px);
		}
	}
	#target3 {
		left: 340px;

		&:before {
			height: 140px;
			width: 200px;
			left: calc(50% - 0px);
		}
		&:after {
			top: 244px;
			height: 60px;
			width: 200px;
			left: calc(50% + 200px);
		}
	}
	#target4 {
		left: 460px;

		&:before {
			height: 120px;
			width: 186px;
			left: calc(50% - 0px);
		}
		&:after {
			top: 224px;
			height: 80px;
			width: 186px;
			left: calc(50% + 186px);
		}
	}
	#target5 {
		left: 580px;

		&:before {
			width: 175px;
			left: calc(50% - 0px);
		}
		&:after {
			width: 175px;
			left: calc(50% + 175px);
		}
	 }
	#target6 {
		left: 700px;

		&:before {
			height: 80px;
			width: 148px;
			left: calc(50% - 0px);
		}
		&:after {
			top: 184px;
			height: 120px;
			width: 148px;
			left: calc(50% + 148px);
		}
	}
	#target7 {
		left: 820px;

		&:before {
			height: 60px;
			width: 108px;
			left: calc(50% - 0px);
		}
		&:after {
			top: 164px;
			height: 140px;
			width: 108px;
			left: calc(50% + 108px);
		}
	}
	#target8 {
		left: 940px;

		&:before {
			height: 40px;
			width: 66px;
			left: calc(50% - 0px);
		}
		&:after {
			top: 144px;
			height: 160px;
			width: 66px;
			left: calc(50% + 66px);
		}
	}
	#target9 {
		left: 1060px;

		&:before {
			height: 20px;
			width: 13px;
			left: calc(50% - 0px);
		}
		&:after {
			top: 124px;
			height: 180px;
			width: 13px;
			left: calc(50% + 13px);
		}
	}

	// tahaci prvek v cilove oblasti


	// cilove ramecky na panelu

	div.target_area {
		position: absolute;
		top: 40px;
		z-index: 10;
		width: 100px;
		height: 100px;
		border: 1px dashed $color-border;
		background-size: 100%;
		padding: 0;
		margin: 0;

		&.over {
			display: block;
			background-position: center center;
			background-repeat: no-repeat;
		}


		// Tahaci prvek v cilove oblasti

		div.drag {
			position: relative;
			height: 100px;
			margin:0;
			left: -1px;
			top: -1px;

			&:hover {
				&:after {
					bottom: 25px;
				}
			}
			&>div {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				background: $color-ffffff;
				border-top: 1px solid $color-border;
				z-index: 200;

				* {
					vertical-align: middle;
				}
				select {
					width: calc(100% - 20px);
					display: inline-block;
					border: none;
					border-right: 1px solid $color-border;
				}
				span {
					display: inline-block;
					height: 25px;
					line-height: 25px;
					width: 20px;
					text-align: center;
					font-size: $fs-16;
					font-weight: $fw-500;
					cursor: zoom-in;
				}
			}
		}
		div.kont.over,
		div.target_area.over {
			border: 1px solid $color-border-hover;
		}
	}

	// vyhodnoceni

	.check-wrap {
		height: 95px;
		text-align: center;
		display: none;
		.check-in {
			font-size: $fs-16;
			padding: 10px;
			height: 95px;
			text-align: left;
			margin: 0;

			&.ok {
				background-color: $color-state-success;
			}
			&.false {
				background-color: $color-state-failed;
			}
			span {
				display: block;
			}
			p {
				margin-top: 15px;
				font-size: $fs-32;
			}
		}
	}
}

// Responsive

@media only screen and (max-width: 1280px) {

}