body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$color-border\".\A         on line 21 of section.scss\A \A 16: 	}\A 17: }\A 18: .block {\A 19: 	display: block;\A 20: 	margin-bottom: 20px;\A 21: 	border: 1px solid $color-border;\A 22: 	background: $color-ffffff;\A 23: 	@include radius-default(4px);\A 24: \A 25: 	h2,\A 26: 	h3 {"; }
