/*------------------------------------------------------------------------------------------------------------------*/
/*  RESET			 																								*/
/*------------------------------------------------------------------------------------------------------------------*/

html, body,
h1, h2, h3, h4, h5, h6,
div, p, span, blockquote, cite, q,
dl, dt, dd, ol, ul, li,
a,
img,
abbr, acronym, address, big, small, center,
pre, code, samp, kbd, tt, var,
ins, mark, del, dfn, time,
strong, em, strike, sub, sup, b, u, i, s,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
header, hgroup, footer, menu, nav,
section, article, aside, canvas, details, embed,
figure, figcaption,
audio, video,
output, ruby, summary,
applet, object, iframe {
	margin: 0;
	padding: 0;
	border: 0;
	outline:0;
	font: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	/*vertical-align: baseline;*/
	/*background:transparent;*/
}

/* element default -----------------------------------------------------------*/

/* pre */
pre { text-align: left; clear: both; font-family: monospace;}
pre td { padding: 0 !important; margin: 0 !important;}

/* form elements */
input, select, textarea, button, optgroup { font-weight: inherit; font-style: inherit; font-family: inherit; font-size: inherit; }
fieldset, input, select, textarea, button, [type="button"], [type="reset"], [type="submit"] [type="checkbox"], [type="radio"] { padding: 0; }
textarea { overflow: auto; }
button, [type="button"], [type="reset"], [type="submit"] { -webkit-appearance: button; }

/* fieldset */
fieldset { border: none; margin: 0; padding: 0; min-width: inherit; }
@-moz-document url-prefix() { fieldset { display: table-cell; }}
@media screen and (-webkit-min-device-pixel-ratio:0) {::i-block-chrome,fieldset { display: table-cell; }}

/* title */
h1, h2, h3, h4, h5, h6 { font-size: inherit; }

/* table */
table { border-collapse: separate; border-spacing: 0; font-size: inherit; }
caption, th, td { text-align: left; }

/*blockquote*/
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: none; }

/* block type */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, main { display: block; }

/* list */
ol, ul, nav ol, nav ul { list-style:none; }

/* inserted / marked / deleted text */
ins  { background-color:#ff9; color:#000; text-decoration:none;}
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:700; }
del  { text-decoration: line-through;}

/* source code */
code, kbd, samp { font-family: monospace;}

/* text */
b, strong { font-weight: 700; }

/* images */
img,
a img { border: none; text-decoration: none; }

/* links */
a { background-color: transparent; -webkit-text-decoration-skip: objects; }

/*horizontal line*/
hr { display:block; height:1px; border:0; border-top:1px solid #cccccc; margin: 10px 0; padding:0; box-sizing: content-box; }

/* abbreviation */
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }

/* audio / video / vector / canvas */
audio, canvas, iframe, img, svg, video { vertical-align: middle; max-width: 100%;}
audio, video { display: inline-block; }
audio:not([controls]) { display: none; height: 0; }
svg { fill: currentColor; }
svg:not(:root) { overflow: hidden; }
canvas {display: inline-block;}

/* hidden items */
iframe[name="google_conversion_frame"] { visibility: hidden; height: 0; }
template, [hidden] { display: none; }


/*------------------------------------------------------------------------------------------------------------------*/
/* BASIC																											*/
/*------------------------------------------------------------------------------------------------------------------*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
*, ::before, ::after { background-repeat: no-repeat; box-sizing: border-box; }
::before, ::after { text-decoration: inherit; vertical-align: inherit; }

html {
	box-sizing: border-box;
	cursor: default;
	font-size: 10px;
	/*-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;*/
}
body {
	font-family: sans-serif;
}
a {
	text-decoration: underline;
	outline: none;
}
a:hover {
	text-decoration: none;
}
p { padding: 5px 0; }
ul { margin: 10px 0; }
ul li { margin: 0 0 0 20px;}

.aleft    {text-align: left !important;}
.aright   {text-align: right !important;}
.acenter  {text-align: center !important;}
.fright   {float: right !important;}
.fleft    {float: left !important;}

/* clear */
.clear {
	clear: both !important;
	font-size: 0 !important;
	height: 0 !important;
	line-height: 0 !important;
	float: none !important;
	display: block !important;
}
