/*------------------------------------------------------------------------------------------------------------------*/
/*  GLOBAL			 																								*/
/*------------------------------------------------------------------------------------------------------------------*/

.desktop-view { display: block; }
.mobile-view  { display: none;  }

* {
	margin: 0;
	padding: 0;
	font-family: $ff-default;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	height: 100%;
}
body {
	color: $color-primary;
	font-size: $fs-14;
	font-weight: $fw-400;
	font-family: $ff-default;
	background: $color-body;
	height: 100%;
}
img[align="left"],
img.al {
	float: left;
	margin: 0 35px 35px 0;
}
img[align="right"],
img.ar {
	float: right;
	margin: 0 0 35px 35px;
}
a {
	color: $color-primary;
	text-decoration: underline;
	outline: none;

	&:hover {
		text-decoration: none;
	}
	img {
		border: none;
	}
}

// Display type
.d-block 	{ display: block; }
.d-iblock 	{ display: inline-block; }
.d-inline	{ display: inline; }

// Basic text elements

p, strong {
	line-height: 20px;
	padding: 5px 0;
}
strong {
	font-weight: 600;
}

// Alingment
.aleft { text-align: left; }
.acenter { text-align: center; }
.aright { text-align: right; }


// Titles H1 - H6

h1, h2, h3, h4, h5, h6 {
	padding: 30px 0 10px 0;
	color: $color-primary;
	font-weight: $fw-400;
}
h1 { font-size: $fs-42; }
h2 { font-size: $fs-17; line-height: 40px; }
h3 { font-size: $fs-14; line-height: 35px;}
h4 { font-size: $fs-12; padding: 10px 0;}

// nowrap

.no-wrap {
	white-space: nowrap;
}

//hide

.hide {
	display: none !important;
}