/* Error: Undefined variable.
 *    ,
 * 11 |     font-family: $ff-default;
 *    |                  ^^^^^^^^^^^
 *    '
 *   global.scss 11:15  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 11 \2502      font-family: $ff-default;\d\a    \2502                   ^^^^^^^^^^^\a    \2575 \a   global.scss 11:15  root stylesheet";
}
