/*------------------------------------------------------------------------------------------------------------------*/
/*  LAYOUT GRID 																									*/
/*------------------------------------------------------------------------------------------------------------------*/

.box {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

// container obecne

.container {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 10px 0;
}
.row {
	padding: 8px 0;
	position:relative;
	margin: 0; //korekce delene radky

	&.col-group {
		.col {
			margin: 5px 0;
		}
	}
	.incol {
		width: 50%;
		float: left;
	}
}
.col {
	float: left;
	text-align: left;
	padding: 0 10px;
	min-height: 1px;
	//border: 1px dashed lightsalmon; /* potom odstranit */

	&.no-main-label {
		padding-top: 21px;
	}
	&.label + div {
		line-height: 30px;
	}
	.col {
		padding: 0;
	}
	/* column divide */

	div.half,
	div.third,
	div.quarter {
		height: auto;
	}
	div.half {
		width: calc(50% - 2%);
		float: left;

		&:nth-child(2) {
			margin-right: 2%;
		}
		&:nth-child(3) {
			margin-left: 2%;
		}
	}
	div.third {
		width: calc(33.33% - 2.5%);
		float: left;

		&:nth-child(2) {
			margin-right: 2.5%;
		}
		&:nth-child(3) {
			margin: 0 1.25%;
		}
		&:nth-child(4) {
			margin-left: 2.5%;
		}
	}
	div.quarter {
		width: calc(25% - 3%);
		float: left;

		&:nth-child(2) {
			margin-right: 2.5%;
		}
		&:nth-child(3),
		&:nth-child(4){
			margin: 0 1.75%;
		}
		&:nth-child(5) {
			margin-left: 2.5%;
		}
	}
}

@for $i from 1 through 100 {
	$width: percentage($i / 100);

	.p#{$i} {
		width: $width;
	}
}

/* vyjimky gridu */

.p14x2 {
	width: calc(100% / 7);
}
.p16x6 {
	width: calc(100% / 6);
}
.p33x3 {
	width: calc(100% / 3);
}
.p66x6 {
	width: calc((100% / 3) * 2);
}

.p50x2 {
	width: calc(100% / 2);
}

/* vyjimky pro H3 */

h3 .col {
	padding: 0;
}