/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*  GLOBAL VARIABLES 																								  */
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

//* FONT FAMILY ------------------------------------------------------------------------------------------------------*/

$ff-title:  				'Roboto', sans-serif;
$ff-subtitle:  				'Roboto', sans-serif;
$ff-default: 				'Roboto', sans-serif;
$ff-menu: 					'Roboto', sans-serif;

//* FONT SIZES	from 1 to 200 px - in [rem] units --------------------------------------------------------------------*/

/*font-sizes */
$fs-1:  0.1rem; $fs-2:  0.2rem; $fs-3:  0.3rem; $fs-4:  0.4rem; $fs-5:  0.5rem; $fs-6:  0.6rem; $fs-7:  0.7rem; $fs-8:  0.8rem; $fs-9:  0.9rem; $fs-10: 1.0rem;
$fs-11: 1.1rem; $fs-12: 1.2rem; $fs-13: 1.3rem; $fs-14: 1.4rem; $fs-15: 1.5rem; $fs-16: 1.6rem; $fs-17: 1.7rem; $fs-18: 1.8rem; $fs-19: 1.9rem; $fs-20: 2.0rem;
$fs-21: 2.1rem; $fs-22: 2.2rem; $fs-23: 2.3rem; $fs-24: 2.4rem; $fs-25: 2.5rem; $fs-26: 2.6rem; $fs-27: 2.7rem; $fs-28: 2.8rem; $fs-29: 2.9rem; $fs-30: 3.0rem;
$fs-31: 3.1rem; $fs-32: 3.2rem; $fs-33: 3.3rem; $fs-34: 3.4rem; $fs-35: 3.5rem; $fs-36: 3.6rem; $fs-37: 3.7rem; $fs-38: 3.8rem; $fs-39: 3.9rem; $fs-40: 4.0rem;
$fs-41: 4.1rem; $fs-42: 4.2rem; $fs-43: 4.3rem; $fs-44: 4.4rem; $fs-45: 4.5rem; $fs-46: 4.6rem; $fs-47: 4.7rem; $fs-48: 4.8rem; $fs-49: 4.9rem; $fs-50: 5.0rem;
$fs-51: 5.1rem; $fs-52: 5.2rem; $fs-53: 5.3rem; $fs-54: 5.4rem; $fs-55: 5.5rem; $fs-56: 5.6rem; $fs-57: 5.7rem; $fs-58: 5.8rem; $fs-59: 5.9rem; $fs-60: 6.0rem;
$fs-61: 6.1rem; $fs-62: 6.2rem; $fs-63: 6.3rem; $fs-64: 6.4rem; $fs-65: 6.5rem; $fs-66: 6.6rem; $fs-67: 6.7rem; $fs-68: 6.8rem; $fs-69: 6.9rem; $fs-70: 7.0rem;
$fs-71: 7.1rem; $fs-72: 7.2rem; $fs-73: 7.3rem; $fs-74: 7.4rem; $fs-75: 7.5rem; $fs-76: 7.6rem; $fs-77: 7.7rem; $fs-78: 7.8rem; $fs-79: 7.9rem; $fs-80: 8.0rem;
$fs-81: 8.1rem; $fs-82: 8.2rem; $fs-83: 8.3rem; $fs-84: 8.4rem; $fs-85: 8.5rem; $fs-86: 8.6rem; $fs-87: 8.7rem; $fs-88: 8.8rem; $fs-89: 8.9rem; $fs-90: 9.0rem;
$fs-91: 9.1rem; $fs-92: 9.2rem; $fs-93: 9.3rem; $fs-94: 9.4rem; $fs-95: 9.5rem; $fs-96: 9.6rem; $fs-97: 9.7rem; $fs-98: 9.8rem; $fs-99: 9.9rem; $fs-100: 10.0rem;

$fs-101: 10.1rem; $fs-101: 10.2rem; $fs-103: 10.3rem; $fs-104: 10.4rem; $fs-105: 10.5rem; $fs-106: 10.6rem; $fs-107: 10.7rem; $fs-108: 10.8rem; $fs-109: 10.9rem; $fs-110: 11.0rem;
$fs-111: 11.1rem; $fs-112: 11.2rem; $fs-113: 11.3rem; $fs-114: 11.4rem; $fs-115: 11.5rem; $fs-116: 11.6rem; $fs-117: 11.7rem; $fs-118: 11.8rem; $fs-119: 11.9rem; $fs-120: 12.0rem;
$fs-121: 12.1rem; $fs-122: 12.2rem; $fs-123: 12.3rem; $fs-124: 12.4rem; $fs-125: 12.5rem; $fs-126: 12.6rem; $fs-127: 12.7rem; $fs-128: 12.8rem; $fs-129: 12.9rem; $fs-130: 13.0rem;
$fs-131: 13.1rem; $fs-132: 13.2rem; $fs-133: 13.3rem; $fs-134: 13.4rem; $fs-135: 13.5rem; $fs-136: 13.6rem; $fs-137: 13.7rem; $fs-138: 13.8rem; $fs-139: 13.9rem; $fs-140: 14.0rem;
$fs-141: 14.1rem; $fs-142: 14.2rem; $fs-143: 14.3rem; $fs-144: 14.4rem; $fs-145: 14.5rem; $fs-146: 14.6rem; $fs-147: 14.7rem; $fs-148: 14.8rem; $fs-149: 14.9rem; $fs-150: 15.0rem;
$fs-151: 15.1rem; $fs-152: 15.2rem; $fs-153: 15.3rem; $fs-154: 15.4rem; $fs-155: 15.5rem; $fs-156: 15.6rem; $fs-157: 15.7rem; $fs-158: 15.8rem; $fs-159: 15.9rem; $fs-160: 16.0rem;
$fs-161: 16.1rem; $fs-162: 16.2rem; $fs-163: 16.3rem; $fs-164: 16.4rem; $fs-165: 16.5rem; $fs-166: 16.6rem; $fs-167: 16.7rem; $fs-168: 16.8rem; $fs-169: 16.9rem; $fs-170: 17.0rem;
$fs-171: 17.1rem; $fs-172: 17.2rem; $fs-173: 17.3rem; $fs-174: 17.4rem; $fs-175: 17.5rem; $fs-176: 17.6rem; $fs-177: 17.7rem; $fs-178: 17.8rem; $fs-179: 17.9rem; $fs-180: 18.0rem;
$fs-181: 18.1rem; $fs-182: 18.2rem; $fs-183: 18.3rem; $fs-184: 18.4rem; $fs-185: 18.5rem; $fs-186: 18.6rem; $fs-187: 18.7rem; $fs-188: 18.8rem; $fs-189: 18.9rem; $fs-190: 19.0rem;
$fs-191: 19.1rem; $fs-192: 19.2rem; $fs-193: 19.3rem; $fs-194: 19.4rem; $fs-195: 19.5rem; $fs-196: 19.6rem; $fs-197: 19.7rem; $fs-198: 19.8rem; $fs-199: 19.9rem; $fs-200: 20.0rem;

//* FONT SIZES	named ------------------------------------------------------------------------------------------------*/

$fs-xxs: 0.8rem; 	/*extra extra small*/
$fs-xs: 1.0rem; 	/*extra small*/
$fs-s: 1.1rem; 		/*small*/
$fs-n: 1.2rem; 		/*normal*/
$fs-d: 1.4rem; 		/*default*/
$fs-m: 1.6rem; 		/*medium*/
$fs-b: 1.8rem; 		/*big*/
$fs-xb: 2.1rem; 	/*extra big*/
$fs-xxb: 2.5rem; 	/*extra extra big*/

//* FONT WEIGHT ------------------------------------------------------------------------------------------------------*/
$fw-100: 100; $fw-200: 200; $fw-300: 300; $fw-400: 400; $fw-500: 500; $fw-600: 600; $fw-700: 700; $fw-800: 800; $fw-900: 900;

/*--------------------------------------------------------------------------------------------------------------------*/
/*  COLORS			 																								  */
/*--------------------------------------------------------------------------------------------------------------------*/

//* NAMED ------------------------------------------------------------------------------------------------------------*/

$air-force-blue:rgb(93,138,168);		$alice-blue:rgb(240,248,255);			$alizarin-crimson:rgb(227,38,54);			$almond:rgb(239,222,205);
$amaranth:rgb(229,43,80);				$amber:rgb(255,191,0);					$american-rose:rgb(255,3,62);				$amethyst:rgb(153,102,204);
$android-green:rgb(164,198,57);			$anti-flash-white:rgb(242,243,244);		$antique-brass:rgb(205,149,117);			$antique-fuchsia:rgb(145,92,131);
$antique-white:rgb(250,235,215);		$ao:rgb(0,128,0);						$apple-green:rgb(141,182,0);				$apricot:rgb(251,206,177);
$aqua:rgb(0,255,255);					$aquamarine:rgb(127,255,212);			$army-green:rgb(75,83,32);					$arsenic:rgb(59,68,75);
$arylide-yellow:rgb(233,214,107);		$ash-gray:rgb(178,190,181);				$asparagus:rgb(135,169,107);				$atomic-tangerine:rgb(255,153,102);
$auburn:rgb(165,42,42);					$aureolin:rgb(253,238,0);				$aurometalsaurus:rgb(110,127,128);			$awesome:rgb(255,32,82);
$azure:rgb(0,127,255);					$azure-mist:rgb(240,255,255);			$baby-blue:rgb(137,207,240);				$baby-blue-eyes:rgb(161,202,241);
$baby-pink:rgb(244,194,194);			$ball-blue:rgb(33,171,205);				$banana-mania:rgb(250,231,181);				$banana-yellow:rgb(255,225,53);
$battleship-gray:rgb(132,132,130);		$bazaar:rgb(152,119,123);				$beau-blue:rgb(188,212,230);				$beaver:rgb(159,129,112);
$beige:rgb(245,245,220);				$bisque:rgb(255,228,196);				$bistre:rgb(61,43,31);						$bittersweet:rgb(254,111,94);
$black:rgb(0,0,0);						$blanched-almond:rgb(255,235,205);		$bleu-de-france:rgb(49,140,231);			$blizzard-blue:rgb(172,229,238);
$blond:rgb(250,240,190);				$blue:rgb(0,0,255);						$blue-bell:rgb(162,162,208);				$blue-gray:rgb(102,153,204);
$blue-green:rgb(0,221,221);				$blue-violet:rgb(138,43,226);			$blush:rgb(222,93,131);						$bole:rgb(121,68,59);
$bondi-blue:rgb(0,149,182);				$boston-university-red:rgb(204,0,0);	$brandeis-blue:rgb(0,112,255);				$brass:rgb(181,166,66);
$brick-red:rgb(203,65,84);				$bright-cerulean:rgb(29,172,214);		$bright-green:rgb(102,255,0);				$bright-lavender:rgb(191,148,228);
$bright-maroon:rgb(195,33,72);			$bright-pink:rgb(255,0,127);			$bright-turquoise:rgb(8,232,222);			$bright-ube:rgb(209,159,232);
$brilliant-lavender:rgb(244,187,255);	$brilliant-rose:rgb(255,85,163);		$brink-pink:rgb(251,96,127);				$british-racing-green:rgb(0,66,37);
$bronze:rgb(205,127,50);				$brown:rgb(150,75,0);					$bubble-gum:rgb(255,193,204);				$bubbles:rgb(231,254,255);
$buff:rgb(240,220,130);					$bulgarian-rose:rgb(72,6,7);			$burgundy:rgb(128,0,32);					$burlywood:rgb(222,184,135);
$burnt-orange:rgb(204,85,0);			$burnt-sienna:rgb(233,116,81);			$burnt-umber:rgb(138,51,36);				$byzantine:rgb(189,51,164);
$byzantium:rgb(112,41,99);				$cadet:rgb(83,104,114);					$cadet-blue:rgb(95,158,160);				$cadet-gray:rgb(145,163,176);
$cadmium-green:rgb(0,107,60);			$cadmium-orange:rgb(237,135,45);		$cadmium-red:rgb(227,0,34);					$cadmium-yellow:rgb(255,246,0);
$california-gold:rgb(183,135,39);		$cal-poly-pomona-green:rgb(30,77,43);	$cambridge-blue:rgb(163,193,173);			$camel:rgb(193,154,107);
$camouflage-green:rgb(120,134,107);		$canary-yellow:rgb(255,239,0);			$candy-apple-red:rgb(255,8,0);				$candy-pink:rgb(228,113,122);
$capri:rgb(0,191,255);					$caput-mortuum:rgb(89,39,32);			$cardinal:rgb(196,30,58);					$caribbean-green:rgb(0,204,153);
$carmine:rgb(150,0,24);					$carmine-pink:rgb(235,76,66);			$carmine-red:rgb(255,0,56);					$carnation-pink:rgb(255,166,201);
$carnelian:rgb(179,27,27);				$carolina-blue:rgb(153,186,221);		$carrot-orange:rgb(237,145,33);				$ceil:rgb(146,161,207);
$celadon:rgb(172,225,175);				$celestial-blue:rgb(73,151,208);		$cerise:rgb(222,49,99);						$cerise-pink:rgb(236,59,131);
$cerulean:rgb(0,123,167);				$cerulean-blue:rgb(42,82,190);			$cg-blue:rgb(0,122,165);					$cg-red:rgb(224,60,49);
$cinereous:rgb(152,129,123);			$cinnabar:rgb(227,66,52);				$cinnamon:rgb(210,105,30);					$citrine:rgb(228,208,10);
$classic-rose:rgb(251,204,231);			$cobalt:rgb(0,71,171);					$coffee:rgb(200,100,40);					$columbia-blue:rgb(155,221,255);
$cool-black:rgb(0,46,99);				$cool-gray:rgb(140,146,172);			$copper:rgb(184,115,51);					$copper-rose:rgb(153,102,102);
$coquelicot:rgb(255,56,0);				$coral:rgb(255,127,80);					$coral-pink:rgb(248,131,121);				$coral-red:rgb(255,64,64);
$cordovan:rgb(137,63,69);				$corn:rgb(251,236,93);					$cornflower-blue:rgb(100,149,237);			$cornsilk:rgb(255,248,220);
$cosmic-latte:rgb(255,248,231);			$cotton-candy:rgb(255,188,217);			$cream:rgb(255,253,208);					$crimson:rgb(220,20,60);
$crimson-glory:rgb(190,0,50);			$cyan:rgb(0,183,235);					$daffodil:rgb(255,255,49);					$dandelion:rgb(240,225,48);
$dark-blue:rgb(0,0,139);				$dark-brown:rgb(101,67,33);				$dark-candy-apple-red:rgb(164,0,0);			$dark-cerulean:rgb(8,69,126);
$dark-coral:rgb(205,91,69);				$dark-cyan:rgb(0,139,139);				$dark-electric-blue:rgb(83,104,120);		$dark-goldenrod:rgb(184,134,11);
$dark-gray:rgb(169,169,169);			$dark-green:rgb(1,50,32);				$dark-champagne:rgb(194,178,128);			$dark-chestnut:rgb(152,105,96);
$dark-jungle-green:rgb(26,36,33);		$dark-khaki:rgb(189,183,107);			$dark-lava:rgb(72,60,50);					$dark-lavender:rgb(115,79,150);
$dark-magenta:rgb(139,0,139);			$dark-midnight-blue:rgb(0,51,102);		$dark-olive-green:rgb(85,107,47);			$dark-orange:rgb(255,140,0);
$dark-orchid:rgb(153,50,204);			$dark-pastel-blue:rgb(119,158,203);		$dark-pastel-green:rgb(3,192,60);			$dark-pastel-purple:rgb(150,111,214);
$dark-pastel-red:rgb(194,59,34);		$dark-pink:rgb(231,84,128);				$dark-powder-blue:rgb(0,51,153);			$dark-raspberry:rgb(135,38,87);
$dark-red:rgb(139,0,0);					$dark-salmon:rgb(233,150,122);			$dark-scarlet:rgb(86,3,25);					$dark-sea-green:rgb(143,188,143);
$dark-sienna:rgb(60,20,20);				$dark-slate-blue:rgb(72,61,139);		$dark-slate-gray:rgb(47,79,79);				$dark-spring-green:rgb(23,114,69);
$dark-tan:rgb(145,129,81);				$dark-tangerine:rgb(255,168,18);		$dark-terra-cotta:rgb(204,78,92);			$dark-turquoise:rgb(0,206,209);
$dark-violet:rgb(148,0,211);			$dartmouth-green:rgb(0,105,62);			$davys-gray:rgb(85,85,85);					$debian-red:rgb(215,10,83);
$deep-carmine:rgb(169,32,62);			$deep-carmine-pink:rgb(239,48,56);		$deep-carrot-orange:rgb(233,105,44);		$deep-cerise:rgb(218,50,135);
$deep-fuchsia:rgb(193,84,193);			$deep-champagne:rgb(250,214,165);		$deep-chestnut:rgb(185,78,72);				$deep-jungle-green:rgb(0,75,73);
$deep-lilac:rgb(153,85,187);			$deep-magenta:rgb(204,0,204);			$deep-peach:rgb(255,203,164);				$deep-pink:rgb(255,20,147);
$deep-saffron:rgb(255,153,51);			$denim:rgb(21,96,189);					$desert-sand:rgb(237,201,175);				$dim-gray:rgb(105,105,105);
$dodger-blue:rgb(30,144,255);			$dogwood-rose:rgb(215,24,104);			$dollar-bill:rgb(133,187,101);				$drab:rgb(150,113,23);
$duke-blue:rgb(0,0,156);				$earth-yellow:rgb(225,169,95);			$eggplant:rgb(97,64,81);					$eggshell:rgb(240,234,214);
$egyptian-blue:rgb(16,52,166);			$electric-blue:rgb(125,249,255);		$electric-crimson:rgb(255,0,63);			$electric-green:rgb(0,254,0);
$electric-indigo:rgb(111,0,255);		$electric-lime:rgb(204,255,0);			$electric-purple:rgb(191,0,255);			$electric-ultramarine:rgb(63,0,255);
$electric-violet:rgb(143,0,255);		$electric-yellow:rgb(255,254,0);		$emerald:rgb(80,200,120);					$eton-blue:rgb(150,200,162);
$falu-red:rgb(128,24,24);				$fandango:rgb(181,51,137);				$fashion-fuchsia:rgb(244,0,161);			$fawn:rgb(229,170,112);
$feldgrau:rgb(77,93,83);				$fern-green:rgb(79,121,66);				$ferrari-red:rgb(255,40,0);					$field-drab:rgb(108,84,30);
$firebrick:rgb(178,34,34);				$fire-engine-red:rgb(206,32,41);		$flame:rgb(226,88,34);						$flamingo-pink:rgb(252,142,172);
$flavescent:rgb(247,233,142);			$flax:rgb(238,220,130);					$floral-white:rgb(255,250,240);				$folly:rgb(255,0,79);
$forest-green:rgb(1,68,33);				$french-beige:rgb(166,123,91);			$french-blue:rgb(0,114,187);				$french-lilac:rgb(134,96,142);
$french-rose:rgb(246,74,138);			$fuchsia:rgb(255,0,255);				$fuchsia-pink:rgb(255,119,255);				$fulvous:rgb(228,132,0);
$fuzzy-wuzzy:rgb(204,102,102);			$gainsboro:rgb(220,220,220);			$gamboge:rgb(228,155,15);					$ghost-white:rgb(248,248,255);
$ginger:rgb(176,101,0);					$glaucous:rgb(96,130,182);				$gold:rgb(212,175,55);						$golden-brown:rgb(153,101,21);
$golden-poppy:rgb(252,194,0);			$goldenrod:rgb(218,165,32);				$golden-yellow:rgb(255,223,0);				$granny-smith-apple:rgb(168,228,160);
$gray:rgb(128,128,128);					$gray-asparagus:rgb(70,89,69);			$green:rgb(0,255,0);						$green-yellow:rgb(173,255,47);
$grullo:rgb(169,154,134);				$guppie-green:rgb(0,255,127);			$halaya-ube:rgb(102,56,84);					$han-blue:rgb(68,108,207);
$han-purple:rgb(82,24,250);				$harlequin:rgb(63,255,0);				$harvard-crimson:rgb(201,0,22);				$harvest-gold:rgb(218,145,0);
$heliotrope:rgb(223,115,255);			$honeydew:rgb(240,255,240);				$hookers-green:rgb(0,112,0);				$hot-magenta:rgb(255,29,206);
$hot-pink:rgb(255,105,180);				$hunter-green:rgb(53,94,59);			$chamoisee:rgb(160,120,90);					$champagne:rgb(247,231,206);
$charcoal:rgb(54,69,79);				$chartreuse:rgb(223,255,0);				$cherry-blossom-pink:rgb(255,183,197);		$chestnut:rgb(205,92,92);
$chocolate:rgb(123,63,0);				$chrome-yellow:rgb(255,167,0);			$iceberg:rgb(113,166,210);					$icterine:rgb(252,247,94);
$india-green:rgb(19,136,8);				$indian-yellow:rgb(227,168,87);			$indigo:rgb(0,65,106);						$inchworm:rgb(178,236,93);
$international-orange:rgb(255,79,0);	$iris:rgb(90,79,207);					$isabelline:rgb(244,240,236);				$islamic-green:rgb(0,144,0);
$ivory:rgb(255,255,240);				$jade:rgb(0,168,107);					$jasmine:rgb(248,222,126);					$jasper:rgb(215,59,62);
$jazzberry-jam:rgb(165,11,94);			$jonquil:rgb(250,218,94);				$june-bud:rgb(189,218,87);					$jungle-green:rgb(41,171,135);
$kelly-green:rgb(76,187,23);			$khaki:rgb(195,176,145);				$klein-blue:rgb(0,47,167);					$ku-crimson:rgb(232,0,13);
$languid-lavender:rgb(214,202,221);		$lapis-lazuli:rgb(38,97,156);			$la-salle-green:rgb(8,120,48);				$laser-lemon:rgb(254,254,34);
$lava:rgb(207,16,32);					$lavender:rgb(181,126,220);				$lavender-blue:rgb(204,204,255);			$lavender-blush:rgb(255,240,245);
$lavender-gray:rgb(196,195,208);		$lavender-indigo:rgb(148,87,235);		$lavender-magenta:rgb(238,130,238);			$lavender-mist:rgb(230,230,250);
$lavender-pink:rgb(251,174,210);		$lavender-purple:rgb(150,123,182);		$lavender-rose:rgb(251,160,227);			$lawn-green:rgb(124,252,0);
$lemon:rgb(255,247,0);					$lemon-chiffon:rgb(255,250,205);		$light-apricot:rgb(253,213,177);			$light-blue:rgb(173,216,230);
$light-brown:rgb(181,101,29);			$light-carmine-pink:rgb(230,103,113);	$light-coral:rgb(240,128,128);				$light-cornflower-blue:rgb(147,204,234);
$light-crimson:rgb(245,105,145);		$light-cyan:rgb(224,255,255);			$light-fuchsia-pink:rgb(249,132,239);		$light-goldenrod-yellow:rgb(250,250,210);
$light-gray:rgb(211,211,211);			$light-green:rgb(144,238,144);			$light-khaki:rgb(240,230,140);				$light-mauve:rgb(220,208,255);
$light-pastel-purple:rgb(177,156,217);	$light-pink:rgb(255,182,193);			$light-salmon:rgb(255,160,122);				$light-salmon-pink:rgb(255,153,153);
$light-sea-green:rgb(32,178,170);		$light-sky-blue:rgb(135,206,250);		$light-slate-gray:rgb(119,136,153);			$light-taupe:rgb(179,139,109);
$light-thulian-pink:rgb(230,143,172);	$light-yellow:rgb(255,255,237);			$lilac:rgb(200,162,200);					$lime:rgb(191,255,0);
$lime-green:rgb(50,205,50);				$lincoln-green:rgb(25,89,5);			$linen:rgb(250,240,230);					$liver:rgb(83,75,79);
$lust:rgb(230,32,32);					$magenta:rgb(202,31,123);				$magic-mint:rgb(170,240,209);				$magnolia:rgb(248,244,255);
$mahogany:rgb(192,64,0);				$majorelle-blue:rgb(96,80,220);			$malachite:rgb(11,218,81);					$manatee:rgb(151,154,170);
$mango-tango:rgb(255,130,67);			$maroon:rgb(128,0,0);					$mauve:rgb(224,176,255);					$mauvelous:rgb(239,152,170);
$mauve-taupe:rgb(145,95,109);			$maya-blue:rgb(115,194,251);			$meat-brown:rgb(229,183,59);				$medium-aquamarine:rgb(102,221,170);
$medium-blue:rgb(0,0,205);				$medium-candy-apple-red:rgb(226,6,44);	$medium-carmine:rgb(175,64,53);				$medium-electric-blue:rgb(3,80,150);
$medium-champagne:rgb(243,229,171);		$medium-jungle-green:rgb(28,53,45);		$medium-lavender-magenta:rgb(221,160,221);	$medium-orchid:rgb(186,85,211);
$medium-persian-blue:rgb(0,103,165);	$medium-purple:rgb(147,112,219);		$medium-red-violet:rgb(187,51,133);			$medium-sea-green:rgb(60,179,113);
$medium-slate-blue:rgb(123,104,238);	$medium-spring-bud:rgb(201,220,135);	$medium-spring-green:rgb(0,250,154);		$medium-taupe:rgb(103,76,71);
$medium-teal-blue:rgb(0,84,180);		$medium-turquoise:rgb(72,209,204);		$medium-violet-red:rgb(199,21,133);			$melon:rgb(253,188,180);
$midnight-blue:rgb(25,25,112);			$midnight-green:rgb(0,73,83);			$mikado-yellow:rgb(255,196,12);				$mint:rgb(62,180,137);
$mint-cream:rgb(245,255,250);			$mint-green:rgb(152,255,152);			$misty-rose:rgb(255,228,225);				$moonstone-blue:rgb(115,169,194);
$mordant-red-19:rgb(174,12,0);			$moss-green:rgb(173,223,173);			$mountain-meadow:rgb(48,186,143);			$mountbatten-pink:rgb(153,122,141);
$msu-green:rgb(24,69,59);				$mulberry:rgb(197,75,140);				$mustard:rgb(255,219,88);					$myrtle:rgb(33,66,30);
$nadeshiko-pink:rgb(246,173,198);		$napier-green:rgb(42,128,0);			$navajo-white:rgb(255,222,173);				$navy:rgb(0,0,128);
$neon-carrot:rgb(255,163,67);			$neon-fuchsia:rgb(254,89,194);			$neon-green:rgb(57,255,20);					$non-photo-blue:rgb(164,221,237);
$ocean-boat-blue:rgb(0,119,190);		$ochre:rgb(204,119,34);					$old-gold:rgb(207,181,59);					$old-lace:rgb(253,245,230);
$old-lavender:rgb(121,104,120);			$old-mauve:rgb(103,49,71);				$old-rose:rgb(192,128,129);					$olive:rgb(128,128,0);
$olive-drab:rgb(107,142,35);			$olive-drab-7:rgb(60,52,31);			$olivine:rgb(154,185,115);					$onyx:rgb(15,15,15);
$opera-mauve:rgb(183,132,167);			$orange:rgb(255,127,0);					$orange-peel:rgb(255,159,0);				$orange-red:rgb(255,69,0);
$orchid:rgb(218,112,214);				$ou-crimson-red:rgb(153,0,0);			$outer-space:rgb(65,74,76);					$outrageous-orange:rgb(255,110,74);
$oxford-blue:rgb(0,33,71);				$pakistan-green:rgb(0,102,0);			$palatinate-blue:rgb(39,59,226);			$palatinate-purple:rgb(104,40,96);
$pale-blue:rgb(175,238,238);			$pale-brown:rgb(152,118,84);			$pale-cerulean:rgb(155,196,226);			$pale-copper:rgb(218,138,103);
$pale-cornflower-blue:rgb(171,205,239);	$pale-gold:rgb(230,190,138);			$pale-goldenrod:rgb(238,232,170);			$pale-green:rgb(152,251,152);
$pale-chestnut:rgb(221,173,175);		$pale-magenta:rgb(249,132,229);			$pale-pink:rgb(250,218,221);				$pale-red-violet:rgb(219,112,147);
$pale-robin-egg-blue:rgb(150,222,209);	$pale-silver:rgb(201,192,187);			$pale-spring-bud:rgb(236,235,189);			$pale-taupe:rgb(188,152,126);
$pansy-purple:rgb(120,24,74);			$papaya-whip:rgb(255,239,213);			$pastel-blue:rgb(174,198,207);				$pastel-brown:rgb(131,105,83);
$pastel-gray:rgb(207,207,196);			$pastel-green:rgb(119,221,119);			$pastel-magenta:rgb(244,154,194);			$pastel-orange:rgb(255,179,71);
$pastel-pink:rgb(255,209,220);			$pastel-purple:rgb(179,158,181);		$pastel-red:rgb(255,105,97);				$pastel-violet:rgb(203,153,201);
$pastel-yellow:rgb(253,253,150);		$patriarch:rgb(128,0,128);				$paynes-gray:rgb(64,64,79);					$peach:rgb(255,229,180);
$peach-orange:rgb(255,204,153);			$peach-puff:rgb(255,218,185);			$peach-yellow:rgb(250,223,173);				$pear:rgb(209,226,49);
$pearl-aqua:rgb(136,216,192);			$peridot:rgb(230,226,0);				$persian-blue:rgb(28,57,187);				$persian-green:rgb(0,166,147);
$persian-indigo:rgb(50,18,122);			$persian-orange:rgb(217,144,88);		$persian-pink:rgb(247,127,190);				$persian-plum:rgb(112,28,28);
$persian-red:rgb(204,51,51);			$persian-rose:rgb(254,40,162);			$persimmon:rgb(236,88,0);					$phlox:rgb(223,0,255);
$phthalo-blue:rgb(0,15,137);			$phthalo-green:rgb(18,53,36);			$piggy-pink:rgb(253,221,230);				$pine-green:rgb(1,121,111);
$pink:rgb(255,192,203);					$pink-pearl:rgb(231,172,207);			$pink-sherbet:rgb(247,143,167);				$pistachio:rgb(147,197,114);
$platinum:rgb(229,228,226);				$plum:rgb(142,69,133);					$portland-orange:rgb(255,90,54);			$powder-blue:rgb(176,224,230);
$princeton-orange:rgb(255,143,0);		$prussian-blue:rgb(0,49,83);			$puce:rgb(204,136,153);						$pumpkin:rgb(255,117,24);
$purple:rgb(159,0,197);					$purple-heart:rgb(105,53,156);			$purple-pizzazz:rgb(254,78,218);			$purple-taupe:rgb(80,64,77);
$quartz:rgb(81,72,79);					$radical-red:rgb(255,53,94);			$raspberry:rgb(227,11,93);					$raspberry-pink:rgb(226,80,152);
$raspberry-rose:rgb(179,68,108);		$raw-umber:rgb(130,102,68);				$razzle-dazzle-rose:rgb(255,51,204);		$razzmatazz:rgb(227,37,107);
$red:rgb(255,0,0);						$redwood:rgb(171,78,82);				$regalia:rgb(82,45,128);					$rifle-green:rgb(65,72,51);
$rich-black:rgb(0,64,64);				$rich-carmine:rgb(215,0,64);			$rich-electric-blue:rgb(8,146,208);			$rich-lavender:rgb(167,107,207);
$rich-lilac:rgb(182,102,210);			$rich-maroon:rgb(176,48,96);			$robin-egg-blue:rgb(0,204,204);				$rose-bonbon:rgb(249,66,158);
$rose-ebony:rgb(103,72,70);				$rose-gold:rgb(183,110,121);			$rose-pink:rgb(255,102,204);				$rose-quartz:rgb(170,152,169);
$rose-taupe:rgb(144,93,93);				$rosewood:rgb(101,0,11);				$rosso-corsa:rgb(212,0,0);					$rosy-brown:rgb(188,143,143);
$royal-azure:rgb(0,56,168);				$royal-blue:rgb(0,35,102);				$royal-fuchsia:rgb(202,44,146);				$royal-purple:rgb(120,81,169);
$ruby:rgb(224,17,95);					$ruddy:rgb(255,0,40);					$ruddy-brown:rgb(187,101,40);				$ruddy-pink:rgb(225,142,150);
$rufous:rgb(168,28,7);					$russet:rgb(128,70,27);					$rust:rgb(183,65,14);						$sacramento-state-green:rgb(0,86,63);
$saddle-brown:rgb(139,69,19);			$safety-orange:rgb(255,103,0);			$saffron:rgb(244,196,48);					$salmon:rgb(255,140,105);
$salmon-pink:rgb(255,145,164);			$sandstorm:rgb(236,213,64);				$sandy-brown:rgb(244,164,96);				$sangria:rgb(146,0,10);
$sap-green:rgb(80,125,42);				$sapphire:rgb(8,37,103);				$satin-sheen-gold:rgb(203,161,53);			$scarlet:rgb(255,36,0);
$screamin-green:rgb(118,255,122);		$sea-green:rgb(46,139,87);				$seal-brown:rgb(50,20,20);					$seashell:rgb(255,245,238);
$selective-yellow:rgb(255,186,0);		$sepia:rgb(112,66,20);					$shadow:rgb(138,121,93);					$shamrock-green:rgb(0,158,96);
$shocking-pink:rgb(252,15,192);			$school-bus-yellow:rgb(255,216,0);		$sienna:rgb(136,45,23);						$silver:rgb(192,192,192);
$sinopia:rgb(203,65,11);				$skobeloff:rgb(0,116,116);				$sky-blue:rgb(135,206,235);					$sky-magenta:rgb(207,113,175);
$slate-blue:rgb(106,90,205);			$slate-gray:rgb(112,128,144);			$smokey-topaz:rgb(147,61,65);				$smoky-black:rgb(16,12,8);
$snow:rgb(255,250,250);					$spiro-disco-ball:rgb(15,192,252);		$splashed-white:rgb(254,253,255);			$spring-bud:rgb(167,252,0);
$steel-blue:rgb(70,130,180);			$st-patricks-blue:rgb(35,41,122);		$straw:rgb(228,217,111);					$sunglow:rgb(255,204,51);
$tan:rgb(210,180,140);					$tangelo:rgb(249,77,0);					$tangerine:rgb(242,133,0);					$tangerine-yellow:rgb(255,204,0);
$taupe-gray:rgb(139,133,137);			$tea-green:rgb(208,240,192);			$teal:rgb(0,128,128);						$teal-blue:rgb(54,117,136);
$teal-green:rgb(0,109,91);				$tenne:rgb(205,87,0);					$terra-cotta:rgb(226,114,91);				$thistle:rgb(216,191,216);
$thulian-pink:rgb(222,111,161);			$tickle-me-pink:rgb(252,137,172);		$tiffany-blue:rgb(10,186,181);				$tigers-eye:rgb(224,141,60);
$timberwolf:rgb(219,215,210);			$titanium-yellow:rgb(238,230,0);		$tomato:rgb(255,99,71);						$toolbox:rgb(116,108,192);
$topaz:rgb(255,200,124);				$tractor-red:rgb(253,14,53);			$tropical-rain-forest:rgb(0,117,94);		$true-blue:rgb(0,115,207);
$tufts-blue:rgb(65,125,193);			$tumbleweed:rgb(222,170,136);			$turkish-rose:rgb(181,114,129);				$turquoise:rgb(48,213,200);
$turquoise-blue:rgb(0,255,239);			$turquoise-green:rgb(160,214,180);		$tuscan-red:rgb(102,66,77);					$twilight-lavender:rgb(138,73,107);
$tyrian-purple:rgb(102,2,60);			$ua-blue:rgb(0,51,170);					$ua-red:rgb(217,0,76);						$ube:rgb(136,120,195);
$ucla-blue:rgb(83,104,149);				$ucla-gold:rgb(255,179,0);				$ufo-green:rgb(60,208,112);					$ultramarine:rgb(18,10,143);
$ultramarine-blue:rgb(65,102,245);		$ultra-pink:rgb(255,111,255);			$umber:rgb(99,81,71);						$united-nations-blue:rgb(91,146,229);
$unmellow-yellow:rgb(255,255,102);		$up-maroon:rgb(123,17,19);				$upsdell-red:rgb(174,32,41);				$urobilin:rgb(225,173,33);
$utah-crimson:rgb(211,0,63);			$vegas-gold:rgb(197,179,88);			$venetian-red:rgb(200,8,21);				$verdigris:rgb(67,179,174);
$veronica:rgb(160,32,240);				$violet:rgb(127,0,255);					$viridian:rgb(64,130,109);					$vivid-auburn:rgb(146,39,36);
$vivid-burgundy:rgb(159,29,53);			$vivid-cerise:rgb(218,29,129);			$vivid-tangerine:rgb(255,160,137);			$vivid-violet:rgb(159,0,255);
$warm-black:rgb(0,66,66);				$wenge:rgb(100,84,82);					$wheat:rgb(245,222,179);					$white:rgb(255,255,255);
$white-smoke:rgb(245,245,245);			$wild-blue-yonder:rgb(162,173,208);		$wild-strawberry:rgb(255,67,164);			$wild-watermelon:rgb(252,108,133);
$wine:rgb(114,47,55);					$wisteria:rgb(201,160,220);				$xanadu:rgb(115,134,120);					$yale-blue:rgb(15,77,146);
$yellow:rgb(255,255,0);					$yellow-green:rgb(154,205,50);			$yellow-orange:rgb(255,239,2);				$zaffre:rgb(0,20,168);
$zinnwaldite-brown:rgb(44,22,8);


//* SOLID GRAYSCALE --------------------------------------------------------------------------------------------------*/

$color-000000: rgba(0,0,0,1);		$color-010101: rgba(1,1,1,1);		$color-020202: rgba(2,2,2,1);		$color-030303: rgba(3,3,3,1);		$color-040404: rgba(4,4,4,1);		$color-050505: rgba(5,5,5,1);		$color-060606: rgba(6,6,6,1);		$color-070707: rgba(7,7,7,1);		$color-080808: rgba(8,8,8,1);		$color-090909: rgba(9,9,9,1);		$color-0a0a0a: rgba(10,10,10,1);	$color-0b0b0b: rgba(11,11,11,1);	$color-0c0c0c: rgba(12,12,12,1);	$color-0d0d0d: rgba(13,13,13,1);	$color-0e0e0e: rgba(14,14,14,1);	$color-0f0f0f: rgba(15,15,15,1);
$color-101010: rgba(16,16,16,1);	$color-111111: rgba(17,17,17,1);	$color-121212: rgba(18,18,18,1);	$color-131313: rgba(19,19,19,1);	$color-141414: rgba(20,20,20,1);	$color-151515: rgba(21,21,21,1);	$color-161616: rgba(22,22,22,1);	$color-171717: rgba(23,23,23,1);	$color-181818: rgba(24,24,24,1);	$color-191919: rgba(25,25,25,1);	$color-1a1a1a: rgba(26,26,26,1);	$color-1b1b1b: rgba(27,27,27,1);	$color-1c1c1c: rgba(28,28,28,1);	$color-1d1d1d: rgba(29,29,29,1);	$color-1e1e1e: rgba(30,30,30,1);	$color-1f1f1f: rgba(31,31,31,1);
$color-202020: rgba(32,32,32,1);	$color-212121: rgba(33,33,33,1);	$color-222222: rgba(34,34,34,1);	$color-232323: rgba(35,35,35,1);	$color-242424: rgba(36,36,36,1);	$color-252525: rgba(37,37,37,1);	$color-262626: rgba(38,38,38,1);	$color-272727: rgba(39,39,39,1);	$color-282828: rgba(40,40,40,1);	$color-292929: rgba(41,41,41,1);	$color-2a2a2a: rgba(42,42,42,1);	$color-2b2b2b: rgba(43,43,43,1);	$color-2c2c2c: rgba(44,44,44,1);	$color-2d2d2d: rgba(45,45,45,1);	$color-2e2e2e: rgba(46,46,46,1);	$color-2f2f2f: rgba(47,47,47,1);
$color-303030: rgba(48,48,48,1);	$color-313131: rgba(49,49,49,1);	$color-323232: rgba(50,50,50,1);	$color-333333: rgba(51,51,52,1);	$color-343434: rgba(52,52,52,1);	$color-353535: rgba(53,53,53,1);	$color-363636: rgba(54,54,54,1);	$color-373737: rgba(55,55,55,1);	$color-383838: rgba(56,56,56,1);	$color-393939: rgba(57,57,57,1);	$color-3a3a3a: rgba(58,58,58,1);	$color-3b3b3b: rgba(59,59,59,1);	$color-3c3c3c: rgba(60,60,60,1);	$color-3d3d3d: rgba(61,61,62,1);	$color-3e3e3e: rgba(62,62,62,1);	$color-3f3f3f: rgba(63,63,63,1);
$color-404040: rgba(64,64,64,1);	$color-414141: rgba(65,65,65,1);	$color-424242: rgba(66,66,66,1);	$color-434343: rgba(67,67,67,1);	$color-444444: rgba(68,68,68,1);	$color-454545: rgba(69,69,69,1);	$color-464646: rgba(70,70,70,1);	$color-474747: rgba(71,71,72,1);	$color-484848: rgba(72,72,72,1);	$color-494949: rgba(73,73,73,1);	$color-4a4a4a: rgba(74,74,74,1);	$color-4b4b4b: rgba(75,75,75,1);	$color-4c4c4c: rgba(76,76,76,1);	$color-4d4d4d: rgba(77,77,77,1);	$color-4e4e4e: rgba(78,78,78,1);	$color-4f4f4f: rgba(79,79,79,1);
$color-505050: rgba(80,80,80,1);	$color-515151: rgba(81,81,82,1);	$color-525252: rgba(82,82,82,1);	$color-535353: rgba(83,83,83,1);	$color-545454: rgba(84,84,84,1);	$color-555555: rgba(85,85,85,1);	$color-565656: rgba(86,86,86,1);	$color-575757: rgba(87,87,87,1);	$color-585858: rgba(88,88,88,1);	$color-595959: rgba(89,89,89,1);	$color-5a5a5a: rgba(90,90,90,1);	$color-5b5b5b: rgba(91,91,92,1);	$color-5c5c5c: rgba(92,92,92,1);	$color-5d5d5d: rgba(93,93,93,1);	$color-5e5e5e: rgba(94,94,94,1);	$color-5f5f5f: rgba(95,95,95,1);
$color-606060: rgba(96,96,96,1);	$color-616161: rgba(97,97,97,1);	$color-626262: rgba(98,98,98,1);	$color-636363: rgba(99,99,99,1);	$color-646464: rgba(100,100,100,1);	$color-656565: rgba(101,101,102,1);	$color-666666: rgba(102,102,102,1);	$color-676767: rgba(103,103,103,1);	$color-686868: rgba(104,104,104,1);	$color-696969: rgba(105,105,105,1);	$color-6a6a6a: rgba(106,106,106,1);	$color-6b6b6b: rgba(107,107,107,1);	$color-6c6c6c: rgba(108,108,108,1);	$color-6d6d6d: rgba(109,109,109,1);	$color-6e6e6e: rgba(110,110,110,1);	$color-6f6f6f: rgba(111,111,111,1);
$color-707070: rgba(112,112,112,1);	$color-717171: rgba(113,113,113,1);	$color-727272: rgba(114,114,114,1);	$color-737373: rgba(115,115,115,1);	$color-747474: rgba(116,116,116,1);	$color-757575: rgba(117,117,117,1);	$color-767676: rgba(118,118,118,1);	$color-777777: rgba(119,119,119,1);	$color-787878: rgba(120,120,120,1);	$color-797979: rgba(121,121,122,1);	$color-7a7a7a: rgba(122,122,122,1);	$color-7b7b7b: rgba(123,123,123,1);	$color-7c7c7c: rgba(124,124,124,1);	$color-7d7d7d: rgba(125,125,125,1);	$color-7e7e7e: rgba(126,126,126,1);	$color-7f7f7f: rgba(127,127,127,1);
$color-808080: rgba(128,128,128,1);	$color-818181: rgba(129,129,129,1);	$color-828282: rgba(130,130,130,1);	$color-838383: rgba(131,131,132,1);	$color-848484: rgba(132,132,132,1);	$color-858585: rgba(133,133,133,1);	$color-868686: rgba(134,134,134,1);	$color-878787: rgba(135,135,135,1);	$color-888888: rgba(136,136,136,1);	$color-898989: rgba(137,137,137,1);	$color-8a8a8a: rgba(138,138,138,1);	$color-8b8b8b: rgba(139,139,139,1);	$color-8c8c8c: rgba(140,140,140,1);	$color-8d8d8d: rgba(141,141,142,1);	$color-8e8e8e: rgba(142,142,142,1);	$color-8f8f8f: rgba(143,143,143,1);
$color-909090: rgba(144,144,144,1);	$color-919191: rgba(145,145,145,1);	$color-929292: rgba(146,146,146,1);	$color-939393: rgba(147,147,147,1);	$color-949494: rgba(148,148,148,1);	$color-959595: rgba(149,149,149,1);	$color-969696: rgba(150,150,150,1);	$color-979797: rgba(151,151,152,1);	$color-989898: rgba(152,152,152,1);	$color-999999: rgba(153,153,153,1);	$color-9a9a9a: rgba(154,154,154,1);	$color-9b9b9b: rgba(155,155,155,1);	$color-9c9c9c: rgba(156,156,156,1);	$color-9d9d9d: rgba(157,157,157,1);	$color-9e9e9e: rgba(158,158,158,1);	$color-9f9f9f: rgba(159,159,159,1);
$color-a0a0a0: rgba(160,160,160,1);	$color-a1a1a1: rgba(161,161,162,1);	$color-a2a2a2: rgba(162,162,162,1);	$color-a3a3a3: rgba(163,163,163,1);	$color-a4a4a4: rgba(164,164,164,1); $color-a5a5a5: rgba(165,165,165,1);	$color-a6a6a6: rgba(166,166,166,1);	$color-a7a7a7: rgba(167,167,167,1);	$color-a8a8a8: rgba(168,168,168,1); $color-a9a9a9: rgba(169,169,169,1);	$color-aaaaaa: rgba(170,170,170,1);	$color-ababab: rgba(171,171,172,1);	$color-acacac: rgba(172,172,172,1); $color-adadad: rgba(173,173,173,1);	$color-aeaeae: rgba(174,174,174,1);	$color-afafaf: rgba(175,175,175,1);
$color-b0b0b0: rgba(176,176,176,1);	$color-b1b1b1: rgba(177,177,177,1);	$color-b2b2b2: rgba(178,178,178,1);	$color-b3b3b3: rgba(179,179,179,1);	$color-b4b4b4: rgba(180,180,180,1);	$color-b5b5b5: rgba(181,181,182,1);	$color-b6b6b6: rgba(182,182,182,1);	$color-b7b7b7: rgba(183,183,183,1);	$color-b8b8b8: rgba(184,184,184,1);	$color-b9b9b9: rgba(185,185,185,1);	$color-bababa: rgba(186,186,186,1);	$color-bbbbbb: rgba(187,187,187,1);	$color-bcbcbc: rgba(188,188,188,1);	$color-bdbdbd: rgba(189,189,189,1);	$color-bebebe: rgba(190,190,190,1);	$color-bfbfbf: rgba(191,191,191,1);
$color-c0c0c0: rgba(192,192,192,1);	$color-c1c1c1: rgba(193,193,193,1);	$color-c2c2c2: rgba(194,194,194,1);	$color-c3c3c3: rgba(195,195,195,1);	$color-c4c4c4: rgba(196,196,196,1);	$color-c5c5c5: rgba(197,197,197,1);	$color-c6c6c6: rgba(198,198,198,1);	$color-c7c7c7: rgba(199,199,199,1);	$color-c8c8c8: rgba(200,200,200,1); $color-c9c9c9: rgba(201,201,201,1);	$color-cacaca: rgba(202,202,202,1);	$color-cbcbcb: rgba(203,203,203,1);	$color-cccccc: rgba(204,204,204,1); $color-cdcdcd: rgba(205,205,205,1);	$color-cecece: rgba(206,206,206,1);	$color-cfcfcf: rgba(207,207,207,1);
$color-d0d0d0: rgba(208,208,208,1);	$color-d1d1d1: rgba(209,209,209,1);	$color-d2d2d2: rgba(210,210,210,1);	$color-d3d3d3: rgba(211,211,212,1);	$color-d4d4d4: rgba(212,212,212,1); $color-d5d5d5: rgba(213,213,213,1);	$color-d6d6d6: rgba(214,214,214,1);	$color-d7d7d7: rgba(215,215,215,1);	$color-d8d8d8: rgba(216,216,216,1);	$color-d9d9d9: rgba(217,217,217,1);	$color-dadada: rgba(218,218,218,1);	$color-dbdbdb: rgba(219,219,219,1);	$color-dcdcdc: rgba(220,220,220,1);	$color-dddddd: rgba(221,221,222,1);	$color-dedede: rgba(222,222,222,1);	$color-dfdfdf: rgba(223,223,223,1);
$color-e0e0e0: rgba(224,224,224,1);	$color-e1e1e1: rgba(225,225,225,1);	$color-e2e2e2: rgba(226,226,226,1);	$color-e3e3e3: rgba(227,227,227,1);	$color-e4e4e4: rgba(228,228,228,1);	$color-e5e5e5: rgba(229,229,229,1);	$color-e6e6e6: rgba(230,230,230,1);	$color-e7e7e7: rgba(231,231,232,1);	$color-e8e8e8: rgba(232,232,232,1);	$color-e9e9e9: rgba(233,233,233,1);	$color-eaeaea: rgba(234,234,234,1);	$color-ebebeb: rgba(235,235,235,1);	$color-ececec: rgba(236,236,236,1);	$color-ededed: rgba(237,237,237,1);	$color-eeeeee: rgba(238,238,238,1);	$color-efefef: rgba(239,239,239,1);
$color-f0f0f0: rgba(240,240,240,1);	$color-f1f1f1: rgba(241,241,241,1);	$color-f2f2f2: rgba(242,242,242,1);	$color-f3f3f3: rgba(243,243,243,1);	$color-f4f4f4: rgba(244,244,244,1); $color-f5f5f5: rgba(245,245,245,1);	$color-f6f6f6: rgba(246,246,246,1);	$color-f7f7f7: rgba(247,247,247,1);	$color-f8f8f8: rgba(248,248,248,1); $color-f9f9f9: rgba(249,249,249,1);	$color-fafafa: rgba(250,250,250,1);	$color-fbfbfb: rgba(251,251,251,1);	$color-fcfcfc: rgba(252,252,252,1); $color-fdfdfd: rgba(253,253,253,1);	$color-fefefe: rgba(254,254,254,1);	$color-ffffff: rgba(255,255,255,1);

//* BLACK + ALPHA (1-99%) --------------------------------------------------------------------------------------------*/

$color-000000-a099: rgba(0,0,0,0.99); $color-000000-a098: rgba(0,0,0,0.98); $color-000000-a097: rgba(0,0,0,0.97); $color-000000-a096: rgba(0,0,0,0.96); $color-000000-a095: rgba(0,0,0,0.95); $color-000000-a094: rgba(0,0,0,0.94);	$color-000000-a093: rgba(0,0,0,0.93); $color-000000-a092: rgba(0,0,0,0.92);	$color-000000-a091: rgba(0,0,0,0.91); $color-000000-a09: rgba(0,0,0,0.9);
$color-000000-a089: rgba(0,0,0,0.89); $color-000000-a088: rgba(0,0,0,0.88);	$color-000000-a087: rgba(0,0,0,0.87); $color-000000-a086: rgba(0,0,0,0.86); $color-000000-a085: rgba(0,0,0,0.85); $color-000000-a084: rgba(0,0,0,0.84); $color-000000-a083: rgba(0,0,0,0.83); $color-000000-a082: rgba(0,0,0,0.82); $color-000000-a081: rgba(0,0,0,0.81); $color-000000-a08: rgba(0,0,0,0.8);
$color-000000-a079: rgba(0,0,0,0.79); $color-000000-a078: rgba(0,0,0,0.78); $color-000000-a077: rgba(0,0,0,0.77); $color-000000-a076: rgba(0,0,0,0.76); $color-000000-a075: rgba(0,0,0,0.75); $color-000000-a074: rgba(0,0,0,0.74); $color-000000-a073: rgba(0,0,0,0.73); $color-000000-a072: rgba(0,0,0,0.72); $color-000000-a071: rgba(0,0,0,0.71); $color-000000-a07: rgba(0,0,0,0.7);
$color-000000-a069: rgba(0,0,0,0.69); $color-000000-a068: rgba(0,0,0,0.68); $color-000000-a067: rgba(0,0,0,0.67); $color-000000-a066: rgba(0,0,0,0.66); $color-000000-a065: rgba(0,0,0,0.65); $color-000000-a064: rgba(0,0,0,0.64); $color-000000-a063: rgba(0,0,0,0.63); $color-000000-a062: rgba(0,0,0,0.62); $color-000000-a061: rgba(0,0,0,0.61); $color-000000-a06: rgba(0,0,0,0.6);
$color-000000-a059: rgba(0,0,0,0.59); $color-000000-a058: rgba(0,0,0,0.58); $color-000000-a057: rgba(0,0,0,0.57); $color-000000-a056: rgba(0,0,0,0.56); $color-000000-a055: rgba(0,0,0,0.55); $color-000000-a054: rgba(0,0,0,0.54); $color-000000-a053: rgba(0,0,0,0.53); $color-000000-a052: rgba(0,0,0,0.52); $color-000000-a051: rgba(0,0,0,0.51); $color-000000-a05: rgba(0,0,0,0.5);
$color-000000-a049: rgba(0,0,0,0.49); $color-000000-a048: rgba(0,0,0,0.48); $color-000000-a047: rgba(0,0,0,0.47); $color-000000-a046: rgba(0,0,0,0.46); $color-000000-a045: rgba(0,0,0,0.45); $color-000000-a044: rgba(0,0,0,0.44); $color-000000-a043: rgba(0,0,0,0.43); $color-000000-a042: rgba(0,0,0,0.42); $color-000000-a041: rgba(0,0,0,0.41); $color-000000-a04: rgba(0,0,0,0.4);
$color-000000-a039: rgba(0,0,0,0.39); $color-000000-a038: rgba(0,0,0,0.38); $color-000000-a037: rgba(0,0,0,0.37); $color-000000-a036: rgba(0,0,0,0.36); $color-000000-a035: rgba(0,0,0,0.35); $color-000000-a034: rgba(0,0,0,0.34); $color-000000-a033: rgba(0,0,0,0.33); $color-000000-a032: rgba(0,0,0,0.32); $color-000000-a031: rgba(0,0,0,0.31); $color-000000-a03: rgba(0,0,0,0.3);
$color-000000-a029: rgba(0,0,0,0.29); $color-000000-a028: rgba(0,0,0,0.28); $color-000000-a027: rgba(0,0,0,0.27); $color-000000-a026: rgba(0,0,0,0.26); $color-000000-a025: rgba(0,0,0,0.25); $color-000000-a024: rgba(0,0,0,0.24); $color-000000-a023: rgba(0,0,0,0.23); $color-000000-a022: rgba(0,0,0,0.22); $color-000000-a021: rgba(0,0,0,0.21); $color-000000-a02: rgba(0,0,0,0.2);
$color-000000-a019: rgba(0,0,0,0.19); $color-000000-a018: rgba(0,0,0,0.18); $color-000000-a017: rgba(0,0,0,0.17); $color-000000-a016: rgba(0,0,0,0.16); $color-000000-a015: rgba(0,0,0,0.15); $color-000000-a014: rgba(0,0,0,0.14); $color-000000-a013: rgba(0,0,0,0.13); $color-000000-a012: rgba(0,0,0,0.12); $color-000000-a011: rgba(0,0,0,0.11); $color-000000-a01: rgba(0,0,0,0.1);
$color-000000-a009: rgba(0,0,0,0.09); $color-000000-a008: rgba(0,0,0,0.08); $color-000000-a007: rgba(0,0,0,0.07); $color-000000-a006: rgba(0,0,0,0.06); $color-000000-a005: rgba(0,0,0,0.05); $color-000000-a004: rgba(0,0,0,0.04); $color-000000-a003: rgba(0,0,0,0.03); $color-000000-a002: rgba(0,0,0,0.02); $color-000000-a001: rgba(0,0,0,0.01);

//* WHITE + ALPHA (1-99%) --------------------------------------------------------------------------------------------*/

$color-ffffff-a099: rgba(255,255,255,0.99); $color-ffffff-a098: rgba(255,255,255,0.98); $color-ffffff-a097: rgba(255,255,255,0.97); $color-ffffff-a096: rgba(255,255,255,0.96); $color-ffffff-a095: rgba(255,255,255,0.95); $color-ffffff-a094: rgba(255,255,255,0.94); $color-ffffff-a093: rgba(255,255,255,0.93); $color-ffffff-a092: rgba(255,255,255,0.92); $color-ffffff-a091: rgba(255,255,255,0.91); $color-ffffff-a09: rgba(255,255,255,0.9);
$color-ffffff-a089: rgba(255,255,255,0.89); $color-ffffff-a088: rgba(255,255,255,0.88); $color-ffffff-a087: rgba(255,255,255,0.87); $color-ffffff-a086: rgba(255,255,255,0.86); $color-ffffff-a085: rgba(255,255,255,0.85); $color-ffffff-a084: rgba(255,255,255,0.84); $color-ffffff-a083: rgba(255,255,255,0.83); $color-ffffff-a082: rgba(255,255,255,0.82); $color-ffffff-a081: rgba(255,255,255,0.81); $color-ffffff-a08: rgba(255,255,255,0.8);
$color-ffffff-a079: rgba(255,255,255,0.79); $color-ffffff-a078: rgba(255,255,255,0.78); $color-ffffff-a077: rgba(255,255,255,0.77); $color-ffffff-a076: rgba(255,255,255,0.76); $color-ffffff-a075: rgba(255,255,255,0.75); $color-ffffff-a074: rgba(255,255,255,0.74); $color-ffffff-a073: rgba(255,255,255,0.73); $color-ffffff-a072: rgba(255,255,255,0.72); $color-ffffff-a071: rgba(255,255,255,0.71); $color-ffffff-a07: rgba(255,255,255,0.7);
$color-ffffff-a069: rgba(255,255,255,0.69); $color-ffffff-a068: rgba(255,255,255,0.68); $color-ffffff-a067: rgba(255,255,255,0.67); $color-ffffff-a066: rgba(255,255,255,0.66); $color-ffffff-a065: rgba(255,255,255,0.65); $color-ffffff-a064: rgba(255,255,255,0.64); $color-ffffff-a063: rgba(255,255,255,0.63); $color-ffffff-a062: rgba(255,255,255,0.62); $color-ffffff-a061: rgba(255,255,255,0.61); $color-ffffff-a06: rgba(255,255,255,0.6);
$color-ffffff-a059: rgba(255,255,255,0.59); $color-ffffff-a058: rgba(255,255,255,0.58); $color-ffffff-a057: rgba(255,255,255,0.57); $color-ffffff-a056: rgba(255,255,255,0.56); $color-ffffff-a055: rgba(255,255,255,0.55); $color-ffffff-a054: rgba(255,255,255,0.54); $color-ffffff-a053: rgba(255,255,255,0.53); $color-ffffff-a052: rgba(255,255,255,0.52); $color-ffffff-a051: rgba(255,255,255,0.51); $color-ffffff-a05: rgba(255,255,255,0.5);
$color-ffffff-a049: rgba(255,255,255,0.49); $color-ffffff-a048: rgba(255,255,255,0.48); $color-ffffff-a047: rgba(255,255,255,0.47); $color-ffffff-a046: rgba(255,255,255,0.46); $color-ffffff-a045: rgba(255,255,255,0.45); $color-ffffff-a044: rgba(255,255,255,0.44); $color-ffffff-a043: rgba(255,255,255,0.43); $color-ffffff-a042: rgba(255,255,255,0.42); $color-ffffff-a041: rgba(255,255,255,0.41); $color-ffffff-a04: rgba(255,255,255,0.4);
$color-ffffff-a039: rgba(255,255,255,0.39); $color-ffffff-a038: rgba(255,255,255,0.38); $color-ffffff-a037: rgba(255,255,255,0.37); $color-ffffff-a036: rgba(255,255,255,0.36); $color-ffffff-a035: rgba(255,255,255,0.35); $color-ffffff-a034: rgba(255,255,255,0.34); $color-ffffff-a033: rgba(255,255,255,0.33); $color-ffffff-a032: rgba(255,255,255,0.32); $color-ffffff-a031: rgba(255,255,255,0.31); $color-ffffff-a03: rgba(255,255,255,0.3);
$color-ffffff-a029: rgba(255,255,255,0.29); $color-ffffff-a028: rgba(255,255,255,0.28); $color-ffffff-a027: rgba(255,255,255,0.27); $color-ffffff-a026: rgba(255,255,255,0.26); $color-ffffff-a025: rgba(255,255,255,0.25); $color-ffffff-a024: rgba(255,255,255,0.24); $color-ffffff-a023: rgba(255,255,255,0.23); $color-ffffff-a022: rgba(255,255,255,0.22); $color-ffffff-a021: rgba(255,255,255,0.21); $color-ffffff-a02: rgba(255,255,255,0.2);
$color-ffffff-a019: rgba(255,255,255,0.19); $color-ffffff-a018: rgba(255,255,255,0.18); $color-ffffff-a017: rgba(255,255,255,0.17); $color-ffffff-a016: rgba(255,255,255,0.16); $color-ffffff-a015: rgba(255,255,255,0.15); $color-ffffff-a014: rgba(255,255,255,0.14); $color-ffffff-a013: rgba(255,255,255,0.13); $color-ffffff-a012: rgba(255,255,255,0.12); $color-ffffff-a011: rgba(255,255,255,0.11); $color-ffffff-a01: rgba(255,255,255,0.1);
$color-ffffff-a009: rgba(255,255,255,0.09); $color-ffffff-a008: rgba(255,255,255,0.08); $color-ffffff-a007: rgba(255,255,255,0.07); $color-ffffff-a006: rgba(255,255,255,0.06); $color-ffffff-a005: rgba(255,255,255,0.05); $color-ffffff-a004: rgba(255,255,255,0.04); $color-ffffff-a003: rgba(255,255,255,0.03); $color-ffffff-a002: rgba(255,255,255,0.02); $color-ffffff-a001: rgba(255,255,255,0.01);

$color-transparent: rgba(0,0,0,0);

//* Image path variable-----------------------------------------------------------------------------------------------*/

//$assetPath : "/assets/images";
//background: url(#{$assetPath}/site/background.jpg)  0 0 no-repeat-x;

/*--------------------------------------------------------------------------------------------------------------------*/
/*  MIXINS			 																								  */
/*--------------------------------------------------------------------------------------------------------------------*/

//* RESET ------------------------------------------------------------------------------------------------------------*/

@mixin reset-basic {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	//@include reset-basic;
}
@mixin reset-font-inherit {
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	font-size: inherit;
	//@include reset-font-inherit;
}

//* TYPOGRAPHY RHYTHM (používat buď přímo definované hodnoty viz výše $fs-XX, nebo rytmus textu - nikdy oboji) -------*/

// Defaultní poměr je - 2/3
@mixin font-size($sizeValue: 12 ){
	font-size: $sizeValue + px;
	font-size: (0.1 * $sizeValue) + rem;
}
@mixin line-height($heightValue: 18 ){
	line-height: $heightValue + px;
	line-height: (0.1 * $heightValue) + rem;
}
@mixin typo-rhythm($sizeValue: 12, $heightValue: 18) {
	@include font-size($sizeValue);
	@include line-height($heightValue);
}

//@include typo-rhythm(30, 45);
//@include typo-rhythm(126, 130);
//@include typo-rhythm;

//* BORDER RADIUS ----------------------------------------------------------------------------------------------------*/

@mixin radius-default($value: 100%) {
	border-radius: $value;

	//@include radius-default; - znamena automaticky 100% - all
	//@include radius-default(0 0 3px 3px); - muze byt i sdruzena definice [napriklad: 5px]
	//@include radius-default(0);
}

//* GRADIENT + IMGAGE ------------------------------------------------------------------------------------------------*/

@mixin gradient-full(
	$start-color,
	$end-color,
	$percentstart: '0%',
	$percentend: '100%',
	$orientation: 'vertical',
	$url: '',
	$posX: 'center',
	$posY: 'center',
	$repeat: 'no-repeat'
) {
	background: $start-color;

	$imageDefinition: '';
	@if $url != '' {
		$imageDefinition: 'url(#{$url}) #{$posX} #{$posY} #{$repeat},';
	}
	$orientationStandard: 'left'; // default is horizontal
	$orientationPrefix: 'to right'; // default is horizontal
	@if $orientation == 'vertical' {
		$orientationStandard: 'to bottom';
		$orientationPrefix: 'top';
	}
	@each $prefix in '-webkit-' '-moz-' '-ms-' '-o-' {
		background: #{$imageDefinition} #{$prefix}linear-gradient(#{$orientationPrefix}, $start-color #{$percentstart}, $end-color #{$percentend});
	}
	background: #{$imageDefinition} linear-gradient(#{$orientationStandard}, $start-color #{$percentstart}, $end-color #{$percentend});

	// @include gradient-full($color-ffffff, $color-f2f4f7, '0%', '100%','vertical', "'../images/forms/select-arrow.svg'", '100%', '55%', 'no-repeat');
}

//* BOX SHADOW + IMGAGE ----------------------------------------------------------------------------------------------*/

@mixin shadow-default(
	$box: 'box', // povinny parametr [box/text/none]
	$xshadow: '1px',
	$yshadow: '1px',
	$bshadow: '1px',
	$sshadow: '1px',
	$colorshadow: $color-000000,
	$isinset: ''
)
{
	@if $box == 'box' {
		@if $isinset == 'inset' {
			box-shadow: #{$xshadow} #{$yshadow} #{$bshadow} #{$sshadow} #{$colorshadow} #{$isinset};
		}
		@else {
			box-shadow: #{$xshadow} #{$yshadow} #{$bshadow} #{$sshadow} #{$colorshadow};
		}
	}
	@if $box == 'text' {
		text-shadow: #{$xshadow} #{$yshadow} #{$bshadow} #{$sshadow} #{$colorshadow};
	}
	@if $box == 'none' {
		box-shadow: none;
		text-shadow: none;
	}

	//@include shadow-default(box/text, 1px, 2px, 3px, 4px, $color-ffffff, inset);
	//@include shadow-default(none);
}

//* TRANSITION -------------------------------------------------------------------------------------------------------*/

@mixin transition-default(
	$istransition: 'yes',
	$value: 'all', // povinny parametr [vlastnost]
	$duration: '0s', // povinný parametr [doba trvání]
	$timing: 'ease', // nepovinný parametr [ease / linear / ease-in / ease-out / ease-in-out / cubic-bezier(0,0,1,1) viz. https://cubic-bezier.com/]
	$delay: '0s' // nepovinný parametr [prodleva]
)
{
	@if $istransition == 'yes' {
		transition: #{$value} #{$duration} #{$timing} #{$delay};
	}
	@else {
		transition: none;
	}
	//@include transition-default(yes, background, 0.1s, ease-in, 120s);
	//@include transition-default(yes, all, 0.2s, "cubic-bezier(0,0,1,1)", 1s);
	//@include transition-default(none);
}

//* TRANSFORM --------------------------------------------------------------------------------------------------------*/

//@mixin transform(
//	$type: 0,
//	$x: 0,
//	$y: 0,
//	$z: 0
//)
//{
//	@if $type == 'skew' {
//		transform: $type#{(unquote('(')#{$x}#{','}#{$y}unquote(')'))};
//	}
//	@if $type == 'rotate' {
//		transform: $type#{(unquote('(')#{$z}unquote(')'))};
//	}
//	@if $type == 'translate' {
//		transform: $type#{(unquote('(')#{$x}#{','}#{$y}unquote(')'))};
//	}
//	@if $type == 'scale' {
//		transform: $type#{(unquote('(')#{$x}#{','}#{$y}unquote(')'))};
//	}
//	@if $type == 'origin' {
//		transform-#{$type}: #{$x}#{','}#{$y};
//	}
//
//	//@include transform(skew,100px, 200deg);
//	//@include transform(rotate,0,0,90deg);
//	//@include transform(translate,100deg, 200deg);
//	//@include transform(scale,100deg, 200deg);
//	//@include transform(origin,100deg, 200deg);
//}


@mixin skew(
	$x: 0,
	$y: 0
) {
	transform: skew($x, $y);
	//@include skew(100px, 200deg);
}
@mixin rotate(
	$z: 0
)
{
	transform: rotate($z);
	//@include rotate(90deg);
}
@mixin translate(
	$x: 0,
	$y: 0
) {
	transform: translate($x, $y);
	//@include translate(100deg, 200deg);
}
@mixin scale(
	$x: 0,
	$y: 0
) {
	transform: scale($x, $y);
	//@include scale(2, 1);
}
@mixin transform-origin(
	$x: 0,
	$y: 0
) {
	transform-origin: scale($x, $y);
	//@include transform-origin(10px, 20px);
}

//* GAP PARAGRAPH-----------------------------------------------------------------------------------------------------*/

@mixin gap-default($count: 2, $gap: 10px, $border: none) {
	column-count: $count;
	column-gap: $gap;
	column-rule: $border;

	//@include gap-default(2, 0px, none);
}

//* COLOR INTENSITY --------------------------------------------------------------------------------------------------*/

@mixin color-intensity (
	$color-intensity: $color-000000,
	$percentage: 0,
	$type: 'darken', // povinny parametr (darken/lighten | saturate/desaturate | tint/shade
	$isbackground: ''
)
{
	//darken / lighten

	@if $type == 'darken' {
		@if $isbackground == 'background' {
			background: darken($color-intensity, $percentage);
		}
		@else {
			color: darken($color-intensity, $percentage);
		}
	}
	@if $type == 'lighten' {
		@if $isbackground == 'background' {
			background: lighten($color-intensity, $percentage);
		}
		@else {
			color: lighten($color-intensity, $percentage);
		}
	}

	//saturate / desaturate

	@if $type == 'saturate' {
		@if $isbackground == 'background' {
			background: saturate($color-intensity, $percentage);
		}
		@else {
			color: saturate($color-intensity, $percentage);
		}
	}
	@if $type == 'desaturate' {
		@if $isbackground == 'background' {
			background: desaturate($color-intensity, $percentage);
		}
		@else {
			color: desaturate($color-intensity, $percentage);
		}
	}

	//@include color-intensity($color-secondary, 0, darken|lighten|saturate|desaturate, background);
}

//* COLOR HUE --------------------------------------------------------------------------------------------------------*/

@mixin color-hue (
	$color-intensity: $color-000000,
	$degree: 0, // cislo 0 - 360 - pouze pro nastavení - hue
	$isbackground: ''
)
{
	@if $isbackground == 'background' {
		background: adjust-hue($color-intensity, $degree);
	}
	@else {
		color: adjust-hue($color-intensity, $degree);
	}

	//@include color-hue($color-secondary, 110, background);
}

//* COLOR ALPHA ------------------------------------------------------------------------------------------------------*/

@mixin color-alpha (
	$color-intensity: $color-000000,
	$alpha: 0.5, // cislo 0 - 1
	$isbackground: ''
)
{
	@if $isbackground == 'background' {
		background: rgba($color-intensity, $alpha);
	}
	@else {
		color: rgba($color-intensity, $alpha);
	}

	//@include color-alpha($color-secondary, 0.1, background);
}

//* MEDIA QUERIES ----------------------------------------------------------------------------------------------------*/

@mixin for-resolution($point){
	@media ( max-width: $point + 'px' ) {
		@content;
	}
}

//* FILTER EFFECTS ---------------------------------------------------------------------------------------------------*/

// (0 - 100%) 		grayscale / invert / sepia /
// (0 - X%) 		brightness / contrast / saturate
// (0 - 360deg)		hue-rotate
// (0 - Xpx)		blur

@mixin filter(
	$filter-type,
	$filter-amount
)
{
	@if $filter-type == 'contrast' {
		filter: contrast+unquote('(#{$filter-amount}%)');
	}
	@if $filter-type == 'brightness' {
		filter: brightness+unquote('(#{$filter-amount}%)');
	}
	@if $filter-type == 'grayscale' {
		filter: grayscale+unquote('(#{$filter-amount}%)');
	}
	@if $filter-type == 'invert' {
		filter: invert+unquote('(#{$filter-amount}%)');
	}
	@if $filter-type == 'saturate' {
		filter: saturate+unquote('(#{$filter-amount}%)');
	}
	@if $filter-type == 'sepia' {
		filter: sepia+unquote('(#{$filter-amount}%)');
	}
	@if $filter-type == 'hue-rotate' {
		filter: hue-rotate+unquote('(#{$filter-amount}deg)');
	}
	@if $filter-type == 'blur' {
		filter: blur+unquote('(#{$filter-amount}px)');
	}

	//@include filter(brightness, 200);
	//@include filter(contrast, 200);
	//@include filter(grayscale, 100);
	//@include filter(invert, 100);
	//@include filter(saturate, 800);
	//@include filter(sepia, 100);
	//@include filter(hue-rotate, 360);
	//@include filter(blur, 10);
}

//* FLEX BOX ---------------------------------------------------------------------------------------------------------*/

// Aplikuje se na rodičovský element

@mixin flexbox(
	$direction: row, 			//row (default) - zleva doprava
								//row-reverse - zprava doleva
								//column - do sloupce zhora dolů
								//column-reverse - do sloupce zdola nahoru
	$wrap: nowrap,				//nowrap (default) - všechny potomci v jedné řadě
								//wrap - potomci se zalomí na více řádek zhora dolů
								//wrap-reverse - potomci se zalomí na více řádek zdola nahoru
	$justify: flex-start,		//OSA X
								//flex-start (default) - potomci se pozicují zleva
								//flex-end - potomci se pozicují zprava
								//center - potomci se pozicují do středu
								//space-between - potomci maji mezi sebou prostor
								//space-around - potomci mají okolo sebe
	$align-item: stretch,		//OSA Y
								//stretch (default) - potomci vyplnují kontejner
								//flex-start - potomci se pozicují zleva
								//flex-end - potomci se pozicují zprava
								//center - potomci se pozicují do středu
								//baseline - potomci pozicovní na baseline kontejneru
	$align-content: stretch		//stretch (default) - potomci vyplnují kontejner
								//flex-start (default) - potomci se pozicují zleva
								//flex-end - potomci se pozicují zprava
								//center - potomci se pozicují do středu
								//space-between - potomci maji mezi sebou prostor
								//space-around - potomci mají okolo sebe
)
{
	display: flex;
	flex-direction: $direction;
	flex-wrap: $wrap;
	justify-content: $justify;
	align-items: $align-item;
	align-content: $align-content;
}

// Aplikuje se na potomky flexboxu (jednotlivé vlastnosti)
@mixin flex-item-order($number) {
	order: $number; //Celé číslo - řadí prvky

	//use: @include flex-item-grow(3);
}
@mixin flex-item-grow($grow) {
	flex-grow: $grow; //Číslo - určuje, násobek poměru mezi všemi potomky.

	//use: @include flex-item-grow(2);
}
@mixin flex-shrink($shrink) {
	flex-shrink: $shrink; //Číslo - určuje, zlomek poměru mezi všemi potomky.

	//use: @include flex-shrink(1.5);
}
@mixin flex-basis($width) {
	flex-basis: $width; //Hodnota + jednotka - výchozí hodnota flex item

	//use: @include flex-basis(20px);
}
// Cross-axis Alignment
//auto (default) - Prvky se zarovnávají automaticky, nebo jako by neměly rodičovský kontejner
//stretch - prvky vyplní rodičovský kontejner
//center - prvky se řadí na střed kontejneru
//flex-start - Prvky se rovnají od začátku kontejneru
//flex-end - Prvky se řadí od konce kontejneru
//baseline - Prvky se řadí na baseline kontejneru

@mixin flex-item-align($align) {
	align-self: $align;

	//@include flex-item-align(auto|stretch|center|flex-start|flex-end|baseline);
}
