/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*  LOCAL VARIABLES 																								  */
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

//* FONT FAMILY ------------------------------------------------------------------------------------------------------*/

$ff-title:  				'Roboto', sans-serif;
$ff-subtitle:  				'Roboto', sans-serif;
$ff-default: 				'Roboto', sans-serif;
$ff-menu: 					'Roboto', sans-serif;

//* LOCAL SCHEME -----------------------------------------------------------------------------------------------------*/

$color-body: rgb(179, 199, 190);

$color-title:           rgba(53,64,82,1);
$color-primary:         rgba(53,64,82,1);
$color-hover: 			rgba(16, 84, 99, 0.3);
$color-label: rgb(127, 143, 164);

//borders
$color-border: rgb(0, 0, 0);
$color-border-light: rgba(0, 0, 0, 0.25);
$color-border-hover: rgba(16, 84, 99, 0.3);

// buttons
$color-button-start: rgb(255, 255, 255);
$color-button-end: rgb(0, 0, 0);
$color-button-border: rgb(0, 0, 0);

/* state */

$color-state-success: rgb(98, 153, 33);
$color-state-finished: rgb(0, 150, 255);
$color-state-progress: rgb(248, 160, 0);
$color-state-failed: rgb(181, 14, 0);

$color-overlay-success: rgba(98, 153, 33, 0.3);
$color-overlay-finished: rgba(0, 150, 255, 0.3);
$color-overlay-progress: rgba(248, 160, 0, 0.3);
$color-overlay-failed: rgba(0, 150, 255, 0.3);

