/*------------------------------------------------------------------------------------------------------------------*/
/*  BUTTONS  	 																									*/
/*------------------------------------------------------------------------------------------------------------------*/

.controls {
	padding: 20px;
	text-align: center;
	background: $color-f0f0f0;

	#checkLegend {
		width: 200px;
		text-align: left;
		margin: 0;
		padding: 0;
		list-style: none;
		opacity: 0;
		transition: opacity 1s;
		display: inline-block;
		position: relative;
		right: -310px!important;
		top: 16px;

		&.visible {
			opacity: 1;
		}

		li {
			padding-left: 5px;
			margin: 0;

			&:before {
				content: "";
				display: inline-block;
				height: 10px;
				width: 10px;
				margin-right: 5px;
			}

			&.rError:before {
				background: $color-state-failed;
			}

			&.rOk:before {
				background: $color-state-success;
			}

			&.rNotOk:before {
				background: $color-state-progress;
			}
		}
	}
	#checkButton {
		position: relative!important;
		left: -100px!important;
		width: 200px!important;
	}
}

a.button,
span.button,
button {
	box-sizing: border-box;
	position: relative;
	line-height: 45px;
	height: 45px;
	font-size: $fs-20;
	padding: 0 10px;
	display: inline-block;
	vertical-align: middle;
	color: $color-ffffff;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	overflow: hidden;
	white-space: nowrap;
	background-repeat: no-repeat;
	border: 1px solid $color-button-border;
	background: $color-button-end;
	@include transition-default(yes, background, 0.25s);

	* {
		color: $color-ffffff;
		@include transition-default(yes, color, 0.25s);
	}
	&:hover {
		background: $color-button-start;

		* {
			color: $color-000000;
		}
	}
}
