/*------------------------------------------------------------------------------------------------------------------*/
/* FORMS 																											*/
/*------------------------------------------------------------------------------------------------------------------*/

label {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	color: $color-label;
	line-height: 16px;
	padding-bottom: 5px;
	width: 100%;
}
select {
	width: 100%;
	display: block;
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
	color: $color-primary;
}
select::placeholder,
textarea::placeholder {
	font-style: italic;
	color: $color-999999;
	font-size: $fs-14;
}
textarea:focus {
	font-style: normal;
}
select::-ms-expand { display: none; }

/* SELECT */

select {
	line-height: 25px;
	height: 25px;
	padding: 0 25px 0 8px;
	border: 1px solid $color-border;
	position: relative;
	background: $color-ffffff url('../img/select.svg') calc(100% - 10px) 50% no-repeat;
	background-size: auto 5px;

}