/* Error: Undefined variable.
 *    ,
 * 23 |     background: $color-tooltip;
 *    |                 ^^^^^^^^^^^^^^
 *    '
 *   tooltip.scss 23:14  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 23 \2502      background: $color-tooltip;\d\a    \2502                  ^^^^^^^^^^^^^^\a    \2575 \a   tooltip.scss 23:14  root stylesheet";
}
